.active-background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.padding {
	padding: 10px;
}

.grey {
	background-color: #f1f1f1;
}

.container.login {
	position: absolute;
	width: 450px;
	margin: auto;
	top: 40%; left: 0; bottom: 0; right: 0;
}

/**
 * Consultar http://purecss.io/grids/
 * 
 */
@media screen and (max-width: 35.4em) {
    
    .container.login {
        width: auto;
    }
    
    .pure-g.logos {
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .pure-g.logos > div {
        max-width: 50%;
    }
    
    .pure-g.logos > div > img {
        max-width: 100%;
    }
    
    .login-form {
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .login-form .pure-g > div {
        overflow:hidden;
        width: 100%;
    }
    
    .login-form .pure-g > div input {
        width: 100%;
    }
    
    .login-form input[name='email'] {
        margin-bottom: 2px;
    }
}

.login-form {
	/*width: 400px;*/
	padding: 20px;
	background-color: #fff;
}

.login-form:after {
    content: '';
    display: table;
    clear: both;
}

.login-form .pure-g > div {
    overflow: hidden;
    float: left;
}

.login-form input[type="email"], .login-form input[type="password"] {
	/*width: 100%;*/
	/*margin: 7px;*/
	background-color: #f1f1f1;
	border: 0;
	padding: 15px;
}

#user_name {
	text-transform: capitalize;
}

.right {
	text-align: right;
}

.pure-g.logos div {
	position: relative;
}

.pure-g.logos img {
	position: absolute;
	bottom: 15px;
}

.pure-g.logos .right img {
	right: 0;
}

.pure-g.logos .left img {
	left: 0;
}

.button.login {
	border: 0;
	background-color: #F58B31;
	color: #fff;
	padding: 15px;
	margin-top: 20px
}

.copyright {
	text-align: center;
	color: #c4c4c4;
	font-size: 10px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

header {
	color: #fff;
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

header .right {
	float: right;
	font-size: 12px;
}

header .right a {
	color: #F58B31;
	text-decoration: none;
}

.container.admin {
	margin-top: 40px;
}

.container.admin .pure-table {
	/*margin: auto;*/
	/*max-width: 800px;*/
	margin-top: 10px;
}

.container.admin .pure-table .name {
	text-transform: capitalize;
}

.breadcrumb {
	font-style: italic; 
}

.breadcrumb a {
	color: #F58B31;
	text-decoration: none;
}

.flash {
	padding: 20px;
	/*background-color: rgb(66, 184, 221);*/
	background-color: #444;
	color: #fff;
	max-width: 600px;
	/*margin: 20px;*/
	min-height: 0;
	margin-bottom: 20px;
}

.flash.login {
	margin: auto;
	margin-top: 5%;
	text-align: center;
	width: 400px;
	white-space: nowrap;
}

.ui-autocomplete {
	max-width: 280px;
	background-color: #f9f9f9;
}

.ui-menu .ui-menu-item {
	font-size: 12px;
	/*color: #7f7f7f;*/
	color: #000;
}

.ui-menu .ui-menu-item .title {
	font-weight: bold;
}

.breadcrumbs {
	text-align: left;
	font-size:11px;
	color:#7f7f7f;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	text-transform: capitalize;
}

.breadcrumbs.branco {
	color: #fff;
}

#home-mobile-blocks {
    display:none;
}

#image-map-quadro-desktop {display:block;}
#image-map-quadro-mobile   {display:none;}

.image-map-block img {
    height:auto !important;
}

/**
 * Correção Header responsivo
 * 
 */
@media (max-width: 580px){
    
    #image-map-quadro-desktop {display:none;}
    #image-map-quadro-mobile   {display:block;}
    
    .pagina-inicial, .slide {
        background:#fff;
    }
    
    .panel.top {
        padding: 0 0 0 10px;
        position:relative;
        z-index:9;
    }
    
    .panel.top .sections  {
        clear: both;
        display: block;
        width: 100%;
        position: relative;
    }
    
    .panel.top .sections .right {
        clear: both;
        display: block;
        height: auto !important;
        text-align: left !important;
        width: 100%;
        padding-top: 18px;
    }
    
    .panel.top .sections .right .soletomedium {
        display: block;
        text-align: left;
        width: 100%;
    }
    
    /* posição campo de busca */
    .panel.top .sections .right #buscar {
        margin-left:0 !important;
        margin-top: 0 !important;
        width: 1px !important;
        position:absolute;
        top: 11px;
        left: 0;
        background:#fff !important;
        display: none;
        transition: all 0.4s;
    }
    .panel.top .sections .right #buscar.opn {
        display: block;
        width: calc(100% - 120px) !important;
    }
    
    /* botão de busca */
    .panel.top .sections .right .square {
        position:absolute;
        top: 11px;
        left: 0;
        display: block;
        margin: 0 !important;
        background:#fff !important;
        transition: all 0.4s;
    }
    .panel.top .sections .right .square.opn {
        right: 70px;
        left: initial;
    }
    
    .panel.top .sections .right .sidebarTrigger {
        position: absolute;
        top: 6px;
        right: 0;
    }
    
    /* logo */
    .panel.top .sections .left {
        clear: both;
        display: block;
        width: 100%;
    }
    
    .panel.top .sections .left a {
        display: block;
        margin-left: 66px;
    }
    
    .panel.top .sections .left a img {
        max-height: 42px;
        width: 150px !important;
        margin-top: 15px;
    }
    
    .sidebar .content {
        height: auto;
        padding-bottom: 100px;
    }
    
    /* remover checkboxes do menu */
    .cd-accordion-menu input {
        display: none;
    }
    
    .active-background svg {
        display:none;
    }
    
    #home-mobile-blocks {
        display:block;
        margin-top: 20px;
        height: calc(100% - 102px); /* 82 = altura do nav.panel.top + 20 de margin */
        position: relative;
        z-index:101;
    }
    
    #home-mobile-blocks .block {
        height: 33.333333333%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    #home-mobile-blocks .block a {
        display:block;
        position:absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index:99;
    }
    
    #home-mobile-blocks #block-1 {
        background-image: url('../assets/img/home-mobile-block-1.png');
    }
    
    #home-mobile-blocks #block-2 {
        background-image: url('../assets/img/home-mobile-block-2.png');
    }
    
    #home-mobile-blocks #block-3 {
        background-image: url('../assets/img/home-mobile-block-3.png');
    }
    
}

.slide-quadro-manifesto {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1 !important;
}

@media (max-width: 320px){
    
    
}

