/*** 2015 (C) BY DESIGNMODO: http://designmodo.com/slides/  */

.raleway {
  font-family:"Raleway", sans-serif !important;
}
.sourceSans {
  font-family:"Source Sans Pro", sans-serif !important;
}
.playfair {
  font-family:'Playfair Display', serif !important;
}
.georgia {
  font-family:'Georgia', serif !important;
}

.soletothin {
	font-family:'soletothin', sans-serif !important;
}
.soletoregular {
	font-family:'soletoregular', sans-serif !important;
}
.soletomedium {
	font-family:'soletomedium', sans-serif !important;
}
.soletobold {
	font-family:'soletobold', sans-serif !important;
}
.f80 {
	font-size:80px;
}
.f80 p {
	margin:0 !important;
	padding:0 !important;
}
@font-face {
    font-family: 'soletobold';
    src: url('../assets/fonts/soleto_bd-webfont.eot');
    src: url('../assets/fonts/soleto_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/soleto_bd-webfont.woff2') format('woff2'),
         url('../assets/fonts/soleto_bd-webfont.woff') format('woff'),
         url('../assets/fonts/soleto_bd-webfont.ttf') format('truetype'),
         url('../assets/fonts/soleto_bd-webfont.svg#soletobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'soletomedium';
    src: url('../assets/fonts/soleto_md-webfont.eot');
    src: url('../assets/fonts/soleto_md-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/soleto_md-webfont.woff2') format('woff2'),
         url('../assets/fonts/soleto_md-webfont.woff') format('woff'),
         url('../assets/fonts/soleto_md-webfont.ttf') format('truetype'),
         url('../assets/fonts/soleto_md-webfont.svg#soletomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'soletoregular';
    src: url('../assets/fonts/soleto_rg-webfont.eot');
    src: url('../assets/fonts/soleto_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/soleto_rg-webfont.woff2') format('woff2'),
         url('../assets/fonts/soleto_rg-webfont.woff') format('woff'),
         url('../assets/fonts/soleto_rg-webfont.ttf') format('truetype'),
         url('../assets/fonts/soleto_rg-webfont.svg#soletoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'soletothin';
    src: url('../assets/fonts/soleto_th-webfont.eot');
    src: url('../assets/fonts/soleto_th-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/soleto_th-webfont.woff2') format('woff2'),
         url('../assets/fonts/soleto_th-webfont.woff') format('woff'),
         url('../assets/fonts/soleto_th-webfont.ttf') format('truetype'),
         url('../assets/fonts/soleto_th-webfont.svg#soletothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
  margin:0;
  padding:0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}
body{
  position: absolute;
  width:100%;
  height:100%;
  overflow: auto;
}

 /* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul,li{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}b,strong{font-weight:700}html{position:static!important;top:0!important;box-sizing:border-box;}*,*:before,*:after{box-sizing:inherit;}

html, body {
	max-width:100%;
	overflow-x:hidden;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;
}

.table {
   display:table;
   width:100%;
}

.cell {
   display:table-cell;
   text-align:center;
   vertical-align:middle;  
}





/***
 *      __  __              
 *     |  \/  |     ( )      
 *     | \  / | __ _ _ _ __  
 *     | |\/| |/ _` | | '_ \ 
 *     | |  | | (_| | | | | |
 *     |_|  |_|\__,_|_|_| |_|
 *                           
 *                           
 */
.slides {
  color:#fff;
  fill:#fff;
  font-family:"soletomedium";
  background:#000;
  
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;

  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  
  text-rendering:optimizeSpeed;
  
  -webkit-transition:0.15s;
  transition:0.15s;
}

.safari.retina .slides {
  -webkit-font-smoothing:subpixel-antialiased;
}

.slides.bodyWhite {
  background:#fff;
}

.slides .panel {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.slides.whiteSlide {
  color:#303030;
}

a:hover {
  -webkit-transition:0.15s;
  transition:0.15s;
}

img {
   max-width:100%;
   display:inline-block;
}
 
svg {
  -webkit-transition:0.15s;
  transition:0.15s;
}

.svgContainer {
  position:relative;
  width:100%;
  height:0;
  padding:0;
}

.svgContainer svg.scale {
  position: absolute; 
  height: 100%; 
  width: 100%; 
  left: 0; 
  top: 0;
}



video::-webkit-media-controls {
  display:none !important;
}

.light { font-weight:100 !important; }
.normal { font-weight:normal !important; }
.italic { font-style:italic !important; }
.bold { font-weight:bold !important; }

.top { vertical-align:top !important;}
.left { text-align:left !important; }
.right { text-align:right !important; }
.center { text-align:center !important; }
.middle { vertical-align:middle !important; }
.bottom { vertical-align:bottom !important; }

.block { display:block !important; }
.inlineBlock { display:inline-block !important; }
.inline { display:inline !important; }
.relative { position:relative !important; }
.absolute { position:absolute; }
.wide { width:100%; }
.nowrap { white-space:nowrap; }

.crop { margin:0 !important; }
.cropBottom { margin-bottom:0 !important; }
.cropTop { margin-top:0 !important; }
.cropLeft { margin-left:0 !important; }
.cropRight { margin-right:0 !important; }

.opaque { opacity:1; }
.space { padding:0 20px; }


/* typography */
a {
  color:inherit;  
  text-decoration:none;
  -webkit-transition:0.35s;
  transition:0.35s;
}

a:hover {
  opacity:0.75;
}

.slides h1, 
.slides .h1 {
  font-family:'Playfair Display', serif;
  font-size:100px;
  line-height:1.05;  
  letter-spacing:-0.06em;
  font-weight:400;
  margin-bottom:30px;
  margin-left:-0.05em;
}

.slides h1.huge,
.slides .h1.huge {
  font-size:120px;
  margin-bottom:50px;
}

.slides h1.small, 
.slides .h1.small {
  font-size:60px;  
}

.slides h1.micro, 
.slides .h1.micro {
  font-size:40px;  
}

.slides h2, 
.slides .h2 {
  font-size:35px;
  text-transform:uppercase;
  line-height:1.17;
  letter-spacing:0.2em;
  font-weight:700;
  margin-bottom:25px;
}

.slides h2.small, 
.slides .h2.small {
  font-size:23px;
}

.slides h2.huge, 
.slides .h2.huge {
  font-size:45px;
}

.slides h3, 
.slides .h3 {
  font-size:25px;
  font-family:"Raleway";
  margin-bottom:12px;
  font-weight:600;
  margin-left:-0.01em;
}

.slides h3.small, 
.slides .h3.small {
  font-size:19px;
}

.slides h3.micro, 
.slides .h3.micro {
  font-size:16px;
}

.slides h3 + h1, 
.slides .h3 + .h1 {
   margin-top:30px  
}

.slides h3.uppercase, 
.slides .h3.uppercase {
  font-size:19px;
}

.slides h3.small.uppercase, 
.slides .h3.small.uppercase {
   font-size:13px;
}

.slides h1 + h3, 
.slides .h1 + .h3 {
  margin-top:45px;  
}

.slides h4, 
.slides .h4 {
  font-size:22px;
  font-family:"Raleway";
  margin-bottom:10px;
  font-weight:600;
}

.slides h5, 
.slides .h5 {
  font-size:19px;
  font-family:"Raleway";
  font-weight:600;
  margin-bottom:3px;
}

.slides h4.small, 
.slides .h4.small {
  font-size:17px;
  margin-bottom:0.5em;
}

.slides h5.small, 
.slides .h5.small {
  font-size:14px;
  margin-bottom:0.5em;
}

p {
  font-family:'soletomedium', sans-serif;
  line-height:1;
  opacity:1;
}

p + p {
  margin-top:-20px;
}

p + h2,
p + .h2 {
  margin-top:60px;
}

p.hero {
  font-size:36px;
  line-height:1.25;
  letter-spacing:-1px;
  font-weight:100;
}

p.small {
  font-size:22px;
  line-height:1.22727273;
  margin-bottom:20px;
}

p.mirco {
  font-size:16px;
  line-height:1.22727273;
  margin-bottom:20px;
  margin-top:2px;
}

small {
  font-size:17px;
  line-height:1.3;  
}

small.small {
   font-size:14px;
   line-height:1.28;
}

.uppercase {
  text-transform:uppercase !important;
  letter-spacing:0.2em !important;
  font-weight:700 !important;
}

@media screen and (max-width:767px) {
  
  .slides h1,
  .slides .h1 { 
    font-size:50px;
  }
  
  .slides h1.huge, 
  .slides .h1.huge {
    font-size:60px;
  }
  
  .slides h1.small,
  .slides .h1.small {
    font-size:40px;
  }
  
  .mobileCrop { margin:0 !important; }
  .mobileCropBottom { margin-bottom:0 !important; }
  .mobileCropTop { margin-top:0 !important; }
  .mobileCropLeft { margin-left:0 !important; }
  .mobileCropRight { margin-right:0 !important; }
}


@media screen and (max-width:320px) {
  .slides h1.huge, 
  .slides .h1.huge {
    font-size:50px;
  }
}


/* buttons */
.button {
  font-family:"soletomedium";
  display:inline-block;
  /*border-radius:4px;*/
  padding:12px 12px;
  /*color:#fff;*/
  border:none;
  outline:none;
  /*background:#303030;*/
  font-size:16px;
  font-weight:500;
  vertical-align:top;
  cursor:pointer;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  position:relative;
  white-space:nowrap;
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
  /*-webkit-box-shadow:inset 0 -100px 0 rgba(41,41,41,0);*/
  /*box-shadow:inset 0 -100px 0 rgba(41,41,41,0);*/
  -webkit-appearance:none;
  margin-bottom:15px;
  
  -webkit-user-select:none !important;
  -moz-user-select:none !important;
  -ms-user-select:none !important;
  user-select:none !important;  
  
  -webkit-transition:0.25s;
  transition:0.25s;
}

.button + .button {
  margin-left:15px;
}
  .button.small {
    font-size:20px;
  }
  .button.empty {
    padding:0 !important;
    border-radius:0 !important;
    background-color:transparent !important;
    font-size:0 !important;
    margin:0;
  }
  
  .button.shade:after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#292929;
    opacity:0;
    -webkit-transition:0.25s;
    transition:0.25s;
  }
  .button.shade:hover:after {
    opacity:0.15;
  }
  .button.shade:active:after {
    opacity:0.2;
  }
  

.button:hover {
  -webkit-transition:0.25s !important;
  transition:0.25s !important;
  opacity:1;
 /* -webkit-box-shadow:inset 0 -100px 0 rgba(41,41,41,0.15), 0 4px 6px 0 rgba(0,0,0,.1),0 1px 10px 0 rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.1);*/
  /*box-shadow:inset 0 -100px 0 rgba(41,41,41,0.15), 0 4px 6px 0 rgba(0,0,0,.1),0 1px 10px 0 rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.1);*/
}

.button:active {
  transition:-webkit-transform 0.25s, opacity 0.25s, position 0s !important;
  -webkit-transition:-webkit-transform 0.25s, opacity 0.25s, top 0.25s !important;
  /*-webkit-box-shadow:inset 0 -100px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,.1),0 0px 10px 0 rgba(0,0,0,.1),0 1px 4px -1px rgba(0,0,0,.1);*/
  /*box-shadow:inset 0 -100px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,.1),0 0px 10px 0 rgba(0,0,0,.1),0 1px 4px -1px rgba(0,0,0,.1);*/
  top:1px;
}

.button.play {
  width:100px;
  height:100px;
  border-radius:50%;
  padding:35px;
  margin-left:0px;
  margin-right:0px;
}

.button.play:hover {
  -webkit-transform:scale(1.05);
  transform:scale(1.05);  
}

.button.play svg {
  fill:#fff;
  width:30px;
  height:30px;  
}

.button.play.small {
  width:60px;
  height:60px;
  border-radius:50%;
  padding:21px;
}

.button.play.small svg {
  fill:#fff;
  width:18px;
  height:18px;  
}

.lowercase {
  text-transform:lowercase;
  letter-spacing:0em;
  font-weight:300;
}

.button.uppercase {
  font-size:17px;
  font-weight:700;
  padding-top:15px;
  padding-bottom:15px;
  text-indent:0.2em;
}

.button.stroke {
  border: 2px solid;
  background-color: transparent !important;
  padding-top: 12px;
  padding-bottom: 12px;
}

.whiteSlide .button.stroke {
  color:#303030 !important;
  background:transparent !important;
}

.button.stroke:hover {
  -webkit-box-shadow: inset 0 -100px 0 rgba(41,41,41,0.05), 0 4px 6px 0 rgba(0,0,0,.1),0 1px 10px 0 rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.1);
  box-shadow: inset 0 -100px 0 rgba(41,41,41,0.05), 0 4px 6px 0 rgba(0,0,0,.1),0 1px 10px 0 rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.1);
}

.actionButton svg,
.button svg {
  width:22px;
  height:22px;
  fill:#f54d0c !important;
}

.round {
  border-radius:40px !important;
  padding-left:25px !important;
  padding-right:25px !important;
}

.roundButton {
  border-radius:50px;
  height:50px;
  width:50px;
  padding:14px;
  margin:5px;
}

@media screen and (max-width:320px) {
  .button.uppercase,
  .uppercase {
    letter-spacing:0.08em;
  }
}


/* stuff */
.disableSelect,
.disableSelect * {
  -webkit-user-select:none !important;
  -moz-user-select:none !important;
  -ms-user-select:none !important;
  user-select:none !important;  
}

/* custom styling */
.twitterIcon { position:relative; top:5px;}
.play-2 { margin-top: 50px; }
.video-4 { max-width:500px; margin-top:75px; }
.svg-4 { padding-bottom: 27%; }
.svg-5 { padding-bottom: 27%; margin-bottom:60px; margin-top: 60px; }
.iphone-5.shiftImage { margin:0 0 -129%; }
.svg-6 { padding-bottom: 27%; margin-bottom:80px; margin-top: 60px; }
.ipad-6.shiftImage { margin:0 0 -70%; }
.button-7 { margin:6px 20px !important; }
@media screen and (max-width:1280px) { .button-7 { display:block; margin:30px auto !important; }}
.svg-8 { padding-bottom: 27%; margin-bottom: 35px; }
.form-8 { margin-top:80px; }
.svg-9 { padding-bottom: 27%; margin-bottom: 35px; }
.button-9 { margin: 40px 0 65px; }
.play-10 { margin-top:30px; }
@media screen and (min-width:768px) { .form-12 { margin-top:110px; }}
form input[type="text"].input-13, form input[type="name"].input-13, form input[type="email"].input-13 { max-width:300px; }
@media screen and (max-width:1023px) { .cell-16 { padding-bottom:35px; }}
.cell-17 { padding-bottom:25px; }
.video-18 { margin-top:34px; }
.play-21 { margin-top: 50px; }
.text-24 { margin-bottom:60px; font-size:18px; }
.text-25 { margin-bottom:60px; font-size:18px; }
.icon-26 { margin-right: 4px; }
.app-26 { width:100px; padding-bottom:20px; }
@media screen and (min-width:1024px) { .text-26 { max-width:360px; }}
@media screen and (max-width:1023px) { .cell-26 { padding-bottom:40px; }}
.app-27 { width:100px; padding-bottom:20px; }
.icon-27 { margin-right: 4px; }
@media screen and (max-width:1023px) { .cell-27 { padding-bottom:40px; }}
@media screen and (min-width:1024px) { .text-27 { max-width:360px; }}
@media screen and (max-width:1023px) { .cell-28 { padding-bottom:35px; }}
@media screen and (max-width:1023px) { .cell-29 { padding-bottom:35px; }}
.quote-31 { margin-top: 35px; }
.cell-31 { margin-top: 10px; }
.image-31 { padding-top:35px; }
.avatar-31 { border-radius:50px; margin:10px 5px 5px; }
.ipad-31.shiftImageVertical.shiftImage { margin:-10% 0px -115%; }
.ipad-32.shiftImageVertical.shiftImage { margin:-10% 0px -115%; }
.text-32 { margin-top: 40px; }
.items-32 { margin-top: 60px; }
@media screen and (max-width:1023px) { .cell-32 { padding-bottom:40px; }}
.ipad-33.shiftImageVertical.shiftImage { margin:-10% 0px -115%; }
@media screen and (max-width:1023px) { .cell-33 { padding-bottom:40px; }}
.app-35 { margin-bottom:20px; }
.iphone-35 { margin:-30px 0 -77% }
.app-36 { margin-bottom:20px; }
.ipad-36 {  margin:0 0 -72%; }
form input[type="text"].input-38, form input[type="name"].input-38, form input[type="email"].input-38 { max-width:300px; }
.svg-38 { padding-bottom: 27%; margin-bottom: 40px; }
.text-38 { margin-top:15px; }
.avatar-41 { border-radius:50px; margin:10px 5px 5px; }
.block-42 { margin-top:35px; }
.box-42 { margin-top:30px; }
@media screen and (min-width:768px) { .text-42 { opacity:0.6; }}
.block-43 { margin-top:35px; }
.box-43 { margin-top:30px; }
@media screen and (min-width:768px) { .text-43 { opacity:0.6; }}
.button-44 { 	margin-bottom: 40px; }
.grid-45 { margin-top:50px; }
.app-45 { margin-bottom:30px; }
.text-46 { margin-top:30px; }
@media screen and (max-width:767px) { .box-46 { margin-bottom:30px; }}
.icon-47 { margin-bottom:30px; margin-top:15px; }
.icon-48 { margin-bottom:30px; margin-top:15px; }
.icon-49 { margin-bottom:30px; margin-top:15px; }
.grid-50 { margin-top:50px; }
.box-51 { margin-top:65px }
.app-51 { margin-bottom:30px; }
.pad-51.pad { border-radius:40px; }
.button-51 { margin-top:20px; }
.button-52 { margin-top:20px; }
.button-53 { margin-top:20px; }
.button-54 { margin-top:20px; }
@media screen and (max-width:767px) { .cell-51 { margin-bottom:40px; }}
.box-52 { margin-top:65px }
.app-52 { margin-bottom:30px; }
.pad-52.pad { border-radius:40px; }
@media screen and (min-width:768px) {.box-53 { margin-top:65px }}
.pad-53.pad { border-radius:40px; }
@media screen and (max-width:767px) { .cell-53 { margin-bottom:40px; }}
@media screen and (min-width:768px) { .box-54 { margin-top:65px }}
.pad-54.pad { border-radius:40px; }
.button-55.button { margin-top:20px; }
.box-55 { margin-top:45px; }
.box-56 { margin-top:65px }
.text-56 { margin-bottom:3px; }
.button-56 { margin-top:20px; }
.box-57 { margin-top:65px }
.text-57 { margin-bottom:3px; }
.box-57 { margin-top:50px; }
.text-58 { margin-top:60px; }
.text-59 { padding: 5% 6%; margin-top:5px }
.image-61 { padding-bottom:35px; }
.icon-61 { margin-bottom:20px;} 
@media screen and (min-width:1024px) { .macbook-61.shiftImageVertical.shiftImage { margin: -5% -100% -19% -115%; width: 225%; }}
.icon-62 { margin-bottom:20px; margin-top:10px;} 
@media screen and (min-width:1024px) { .macbook-62.shiftImageVertical.shiftImage { margin: -6% -100% -13% 0%; }}
@media screen and (max-width:1023px) { .image-62 { padding-top:35px; } }
.header-63 { padding-bottom:20px; }
.icon-64 { margin-bottom:20px; margin-top:10px;}
.cell-64 { border-radius:20px; padding:18px 35px 10px; stroke:#fff; position:relative; display:block; -webkit-transition:0.25s; transition:0.25s; }
.cell-64 svg { stroke:#fff; }
.cell-64:hover { background:#fff; color:#303030; opacity:1; }
.cell-64:hover svg { stroke:#303030; }
.gird-64 { padding-top:15px; }
.gird-64 .cell-64:after { content:" "; position:absolute; top:0; right:-15px; height:100%; background:rgba(255,255,255,0.1); width:1px; -webkit-transition:0.25s opacity; transition:0.25s opacity; }
.fast .cell-64, .fast .icon-64 { -webkit-transition:0.15s; transition:0.15s; }
.slow .cell-64, .slow .icon-64 { -webkit-transition:0.35s; transition:0.35s; }
.gird-64 .cell-64.last:after { opacity:0; }
.gird-64:hover .cell-64:after { opacity:0; }
@media screen and (max-width:1023px) { .gird-64 .cell-64:after { display:none; }}
.grid-65 { padding-top:20px; }
.grid.grid-65 .cell-65 { position:relative; padding-left:90px; padding-bottom:30px; }
.icon-65 { stroke:#fff; position: absolute; left: 30px; }
@media screen and (max-width:1023px) { .icon-65 { left:0; } .grid.grid-65 .cell-65 { padding-left:60px; }}
h3.text-66 { margin-top:20px; font-size:15px; margin-bottom:0;}
h3.text-66 span { letter-spacing:0.2em; }
@media screen and (max-width:767px) { .box-66 { margin-bottom:30px; }}
.box-67 { color:#303030; border-radius:20px; overflow:hidden; box-shadow:0 1px 3px rgba(0,0,0,.15); display:block; outline:none; margin-bottom:35px; -webkit-backface-visibility: hidden;  }
.box-67:hover { box-shadow:0 8px 15px rgba(0,0,0,.15); opacity:0.95; }
.box-67 .thumbnail-67 { font-size:0; overflow:hidden; }
.box-67 .thumbnail-67 img { border-radius: 20px 20px 0 0; -webkit-backface-visibility: hidden; -webkit-transition:0.5s; transition:0.5s; }
.box-67:hover .thumbnail-67 img { -webkit-transform: scale(1.0225); transform: scale(1.0225); }
.name-67 { padding:16px 15px 20px; background:#FFFFFF; }
.category-67 { text-transform:uppercase; letter-spacing:2.2px; font-size:11px; font-family:Raleway; font-weight:600; opacity:0.7; margin-bottom:7px; }
.title-67 { font-family:"Playfair Display"; font-size:28px; letter-spacing:-1px; line-height:1; }
.grid-68 img { margin-top:19px; margin-bottom: 22px; -webkit-transition:0.25s; transition:0.25s; } 
.grid-68 img:hover { -webkit-transform:scale(1.1); transform:scale(1.1); }
@media screen and (max-width:1023px) and (min-width:769px)  { .grid.grid-68 li.col-2-12 { max-width:33.3333% !important; }}
.grid-69 li[class*='col-'] { padding: 8px; } 
.box-69 { display:block; height:0; padding-bottom:100%; position:relative; background-size:cover; color:#303030; }
.box-69:hover { opacity:1; }
.box-69:after { content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:#fff; opacity:0; -webkit-transition:0.5s; transition:0.5s; }
.box-69:hover:after { opacity:0.92; }
.cell-69 { position:absolute; height:100%; width:100%; z-index:10; opacity:0; -webkit-transition:0.5s; transition:0.5s; -webkit-transform:translateY(10px); transform:translateY(10px); }
.box-69:hover .cell-69 { opacity:1; -webkit-transform:translateY(0px); transform:translateY(0px); }
.category-69 { text-transform:uppercase; letter-spacing:2.2px; font-size:11px; font-family:Raleway; font-weight:600; opacity:0.7; margin-bottom:7px; }
.title-69 { font-family:"Playfair Display"; font-size:28px; letter-spacing:-1px; line-height:1.21; max-width:80%; margin:0 auto; -webkit-transform:translateY(5px); transform:translateY(5px); -webkit-transition:0.5s; transition:0.5s; }
.box-69:hover .title-69 {  -webkit-transform:translateY(0px); transform:translateY(0px); }
.box-70 { display: block; color:#303030; background-repeat: no-repeat; background-position: right top; background-size:contain; margin:10px auto; max-width:400px; }
.box-70:hover { opacity:1;}
.thumbnail-70 { height:0; padding-bottom:100%; }
.info-70 { padding:10%; }
.category-70 { text-transform:uppercase; letter-spacing:2.2px; font-size:11px; font-family:Raleway; font-weight:600; opacity:0.7; margin-bottom:7px; }
.title-70 { font-family:"Playfair Display"; font-size:28px; letter-spacing:-1px; line-height:1.21; max-width:80%; margin:0 auto; }
.box-70 p { margin-top:16px; }


.dots { font-size:0; }

.dot {
  padding:8px;
  display:inline-block;
}

.dot:after {
  content:"";
  display:inline-block;
  width:6px;
  height:6px;
  background:#fff;
  border-radius:50%;
  opacity:0.5;
  -webkit-transition:0.25s;
  transition:0.25s;
}

.dot:hover:after {
  -webkit-transform:scale(1.33333);
  transform:scale(1.333333);
  opacity:1;
}

.dot:active:after,
.dot.selected:after {
  opacity:1;
  -webkit-transform:scale(1);
  transform:scale(1);
}

.tabs {
  border-radius:5px;
  border:1px solid #fff;  
  color:#fff;
  max-width:260px;
}

.tabs li {
  border:1px solid #fff;
  padding:20px 20px;
  letter-spacing:3px;
  font-size:15px;
  -webkit-transition:0.15s;
  transition:0.15s;
}

.tabs li:first-child {
  border-radius:4px 4px 0 0;  
}

.tabs li:last-child {
  border-radius:0 0 4px 4px;  
}

.tabs li:hover {
  padding-left:25px;
}

.tabs li.selected {
  background:#fff;
  color:#303030;
  padding-left:25px;
}

.whiteSlide .tabs,
.whiteSlide .tabs li {
  border:1px solid #303030;
  color:#303030;
}

.whiteSlide .tabs li.selected {
  background:#303030;
  color:#fff;
}

.links li {
  font-size:17px;
  letter-spacing:0;
  padding:4px 0;
}

.address {
  letter-spacing:-1.5px;
  font-size:30px;
  line-height:1.1666;  
}

.price {
  font-size:150px;
  line-height:1.26;
  margin-bottom:30px;
  font-weight:700;
  letter-spacing:-0.02em;
}

.currency {
  font-size: 70px;
  vertical-align: super;
  padding-right: 15px;
  margin-left: -20px;
}

.social-circles {
  font-size:0;
}

.social-circles li {
  display:inline-block;
}

.social-circles li svg {
  width:22px;
  height:22px;
  fill:#fff;  
}



/* forms */
form {
  font-size:0; 
  margin-top:-5px;  
}

form input[type="text"],
form input[type="name"],
form input[type="email"],
form input[type="password"],
form textarea {
  background:#fff;
  padding:13px 19px 14px;
  font-family:"Source Sans Pro", sans-serif;
  border:none;
  font-size:18px;
  color:#242424;
  outline:none;
  border-radius:4px;
  width:100%;
  max-width:230px;
  font-weight:600;
  
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

form input[type="text"].wide,
form input[type="name"].wide,
form input[type="email"].wide,
form input[type="password"].wide,
form textarea.wide {
  max-width:100%;
  margin-left:0;
  margin-right:0;
}


form textarea {
  max-height:200px;
  max-width:100%;
  min-height:130px;
}


form textarea.round {
  border-radius:15px !important;
}


form input[type="text"],
form input[type="name"],
form input[type="email"],
form input[type="password"],
form textarea,
form input.button {
  margin:5px;
}

form input.stroke,
form textarea.stroke {
  border:1px solid #ccc;
}

form.wide input,
form.wide textarea {
  width:100%;
  margin:8px 0;
}


form.center input,
form.center textarea {
  text-align:center;
}

form label {
  display:block;
  margin-top:20px;
  margin-bottom:5px;
}

form > label:first-of-type {
  margin-top:10px;
}

form label.uppercase {
  font-size:14px;
}

@media screen and (max-width:767px) {
  
  form input,
  form textarea {
    margin-left:auto !important;
    margin-right:auto !important;
    width:100%;
    max-width:350px !important;
    display:block !important;
  }
  
  form label {
	  margin-top: 30px;
  }
}





/* COLORS BY (C) Google Meterial Design */

.white { background-color:#fff!important; color:#303030!important; } .button.white svg { fill:#303030 !important;}
.black { background-color:#000000!important; color:#fff!important; } .button.black svg { fill:#fff !important;}
.red { background-color:#F44336!important; color:#fff!important; }
.pink { background-color:#E91E63!important; color:#fff!important; }
.purple { background-color:#9C27B0!important; color:#fff!important; }
.deepPurple { background-color:#673AB7!important; color:#fff!important; }
.indigo { background-color:#3F51B5!important; color:#fff!important; }
.blue { background-color:#2196F3!important; color:#fff!important; }
.cyan { background-color:#00BCD4!important; color:#fff!important; }
.teal { background-color:#009688!important; color:#fff!important; }
.green { background-color:#4CAF50!important; color:#fff!important; }
.lightGreen { background-color:#8BC34A!important; color:#fff!important; }
.lime { background-color:#CDDC39!important; color:#303030!important; }
.yellow { background-color:#FFEB3B!important; color:#303030!important; }
.amber { background-color:#FFC107!important; color:#fff!important; }
.orange { background-color:#FF9800!important; color:#fff!important; }
.deepOrange { background-color:#FF5722!important; color:#fff!important; }
.brown { background-color:#795548!important; color:#fff!important; }
.grey, .gray { background-color:#9E9E9E!important; color:#fff!important; }
.blueGrey, .blueGray { background-color:#607D8B!important; color:#fff!important; }

.textWhite { color:#fff !important; }
.textCinza { color:#7f7f7f !important; }
.textBlack { color:#303030 !important; }
.textRed { color:#F44336!important; }
.textPink { color:#E91E63!important; }
.textPurple { color:#9C27B0!important; }
.textDeepPurple { color:#673AB7!important; }
.textIndigo { color:#3F51B5!important; }
.textBlue { color:#2196F3!important; }
.textCyan { color:#00BCD4!important; }
.textTeal { color:#009688!important; }
.textGreen { color:#4CAF50!important; }
.textLightGreen { color:#8BC34A!important; }
.textLime { color:#CDDC39!important; }
.textYellow { color:#FFEB3B!important; }
.textAmber { color:#FFC107!important; }
.textOrange { color:#FF9800!important; }
.textDeepOrange { color:#FF5722!important; }
.textBrown { color:#795548!important; }
.textGrey, .textGray { color:#9E9E9E!important; }
.textBlueGrey, .textBlueGray { color:#607D8B!important; }

/* social colors */
.facebook { background:#3b5998; }
.twitter { background:#55acee; }
.googlePlus { background:#dd4b39; }
.stumbleupon { background:#eb4924; }
.linkedin { background:#0077b5; }
.pinterest { background:#cc2127; }

.nextSlide,
.prevSlide {
  cursor:pointer;  
}
.nextSlide:hover,
.prevSlide:hover {
  -webkit-transition:0.15s;
  transition:0.15s;
}
.nextSlide:active,
.prevSlide:active {
  opacity:0.75;
}

.firstSlide .prevSlide,
.lastSlide .nextSlide {
  opacity:0;
  cursor:default;
  pointer-events:none;
}

.firstSlide.lastSlide .prevSlide,
.firstSlide.lastSlide .nextSlide {
  opacity:0;
}

.firstSlide .panel.bottom .nextSlide {
   -webkit-animation: animateArrow 3s infinite;
   animation: animateArrow 3s infinite;
}

@-webkit-keyframes animateArrow {
  80% { transform:-webkit-translateY(0); }
  90% { transform:-webkit-translateY(10px); }
  100% { transform:-webkit-translateY(0); } 
}
@keyframes animateArrow {
  80% { transform:translateY(0); }
  90% { transform:translateY(10px); }
  100% { transform:translateY(0); } 
}


/* simplified mode for mobile */
.mobile {
   overflow-y:scroll;
}
.mobile .simplifiedMobile {
   position:relative;
   -webkit-overflow-scrolling: touch;
   overflow-y:scroll;
}
.mobile .simplifiedMobile .content {
  -webkit-overflow-scrolling: initial;
  overflow:hidden;
}

.mobile .simplifiedMobile .slide,
.mobile .simplifiedMobile .content,
.mobile .simplifiedMobile .container {
  position:relative !important;
  min-height:100vh;
  height:auto;
  visibility:visible;
  opacity:1;
}

.mobile .simplifiedMobile .slide .background,
.mobile .simplifiedMobile .slide.video .background video {
  position:absolute !important;
  min-height:100vh;
}

.page-loaded.mobile .slide .background {
   opacity:1 !important;   
}

.mobile .simplifiedMobile .slide,
.mobile .simplifiedMobile .slide.after,
.mobile .simplifiedMobile .slide.before {
  -webkit-transform:none !important;
  transform:none !important;
  opacity:1 !important;
}

.page-loaded.mobile .simplifiedMobile.sidebarShown .slide.selected,
.page-loaded.mobile .simplifiedMobile.sidebarShown .panel {
	-webkit-transform:translate3d(0,0,0) !important;
  transform:translate3d(0,0,0) !important;
  opacity:1;
  pointer-events:none;
}

.page-loaded.mobile .simplifiedMobile .panel {
	-webkit-transform:translate3d(0,0,0) !important;
  transform:translate3d(0,0,0) !important;
}

.mobile .simplifiedMobile .navigation {
  display:none;
}

.mobile .simplifiedMobile [class*="ae-"] {
  visibility:visible !important;
  opacity:1 !important;
  -webkit-transform:none !important;
  transform:none !important;
}

#width {width: 100%;}
#content {position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: scroll; -webkit-overflow-scrolling: touch;}


/***
 *       _____ _       _          
 *      / ___/| ( )   | |         
 *     | (___ | |_  __| | ___ ____ 
 *      \___ \| | |/ _` |/ _ / __/
 *      ____) | | | (_| |  __\__ \
 *     /_____/|_|_|\__,_|\___/___/
 *                                
 *                                
 */
.slide {
  position:fixed;
  width:100%;
  height:100%;
  background:#303030;
  color:#fff;
  z-index:10;
  overflow:hidden;
  /* visibility:hidden; */
}

.slide.active {
	/* visibility:visible; */ 
  -webkit-transform-style:preserve-3d;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:   hidden;
  -ms-backface-visibility:    hidden;
}

.mobile .slide {
  visibility:hidden;
}

.mobile .slide.active {
  visibility:visible;
}

.content {
  overflow:hidden;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:100;
  -webkit-overflow-scrolling:touch;
}

.windows .defaultScroll .content {
  overflow:auto;
  overflow-x:hidden;
}


.mobile .content {
  overflow:auto;
  overflow-x:hidden;
  -webkit-overflow-scrolling:touch;
}

/* Background Fade */
/*.fade .content { background:rgba(17,19,20,0.6); outline:2px solid rgba(17,19,20,0.6); } 
.fade-1 .content { background:rgba(17,19,20,0.1); outline:2px solid rgba(17,19,20,0.1); }
.fade-2 .content { background:rgba(17,19,20,0.2); outline:2px solid rgba(17,19,20,0.2); }
.fade-3 .content { background:rgba(17,19,20,0.3); outline:2px solid rgba(17,19,20,0.3); }
.fade-4 .content { background:rgba(17,19,20,0.4); outline:2px solid rgba(17,19,20,0.4); }
.fade-5 .content { background:rgba(17,19,20,0.5); outline:2px solid rgba(17,19,20,0.5); }
.fade-6 .content { background:rgba(17,19,20,0.6); outline:2px solid rgba(17,19,20,0.6); }
.fade-7 .content { background:rgba(17,19,20,0.7); outline:2px solid rgba(17,19,20,0.7); }
.fade-8 .content { background:rgba(17,19,20,0.8); outline:2px solid rgba(17,19,20,0.8); }
.fade-9 .content { background:rgba(17,19,20,0.9); outline:2px solid rgba(17,19,20,0.9); }*/

.whiteSlide.fade .content { 
  background:rgba(255,255,255,0.9); outline:2px solid rgba(255,255,255,0.9);
}


body .slide.whiteSlide {
  color:#303030;
  background:white;
}

.container {
  display:table;
  table-layout:fixed;
  position:relative;
  width:100%;
  height:100%;
}

.wrap {
  display:table-cell;
  padding:calc(5.56% + 50px) calc(8% + 15px);
  text-align:center;
  vertical-align:middle;
  cursor:default;
}

.wrap.unindented {
   padding-left:0;
   padding-right:0;
}

.wrap * {
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text; 
}
 
.slide .background {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-position:center;
  background-size:cover;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}


/* Grid */

.grid {
  margin-left:-2%;
  margin-right:-2%;
}

.grid.fixedSpaces {
  margin-left:-15px;
  margin-right:-15px;
}

.grid + .grid {
  margin-top:20px;
}

.grid:after {
  content:"";
  display:table;
  clear:both;
}

.col-1-12 { max-width:	8.333333333%; }
.col-2-12 { max-width:	16.66666667%; }
.col-3-12 { max-width:	25%; }
.col-4-12 { max-width:	33.33333333%; }
.col-5-12 { max-width:	41.66666667%; }
.col-6-12 { max-width:	50%; }
.col-7-12 { max-width:	58.33333333%; }
.col-8-12 { max-width:	66.66666667%; }
.col-9-12 { max-width:	75%; }
.col-10-12 { max-width:	83.33333333%; }
.col-11-12 { max-width:	91.66666667%; }
.col-12-12 { max-width:	100%; }


@media screen and (max-width:767px) {
  .grid.later > .fab-col-1-12 { max-width:	8.333333333% !important }
  .grid.later > .fab-col-2-12 { max-width:	16.66666667% !important; }
  .grid.later > .fab-col-3-12 { max-width:	25% !important; }
  .grid.later > .fab-col-4-12 { max-width:	33.33333333% !important; }
  .grid.later > .fab-col-5-12 { max-width:	41.66666667% !important; }
  .grid.later > .fab-col-6-12 { max-width:	50% !important; }
  .grid.later > .fab-col-7-12 { max-width:	58.33333333% !important; }
  .grid.later > .fab-col-8-12 { max-width:	66.66666667% !important; }
  .grid.later > .fab-col-9-12 { max-width:	75% !important; }
  .grid.later > .fab-col-10-12 { max-width:	83.33333333% !important; }
  .grid.later > .fab-col-11-12 { max-width:	91.66666667% !important; }
  .grid.later > .fab-col-12-12 { max-width:	100% !important; }
}

@media screen and (max-width:1023) {
  .grid:not(.later) > .fab-col-1-12 { max-width:	8.333333333% !important }
  .grid:not(.later) > .fab-col-2-12 { max-width:	16.66666667% !important; }
  .grid:not(.later) > .fab-col-3-12 { max-width:	25% !important; }
  .grid:not(.later) > .fab-col-4-12 { max-width:	33.33333333% !important; }
  .grid:not(.later) > .fab-col-5-12 { max-width:	41.66666667% !important; }
  .grid:not(.later) > .fab-col-6-12 { max-width:	50% !important; }
  .grid:not(.later) > .fab-col-7-12 { max-width:	58.33333333% !important; }
  .grid:not(.later) > .fab-col-8-12 { max-width:	66.66666667% !important; }
  .grid:not(.later) > .fab-col-9-12 { max-width:	75% !important; }
  .grid:not(.later) > .fab-col-10-12 { max-width:	83.33333333% !important; }
  .grid:not(.later) > .fab-col-11-12 { max-width:	91.66666667% !important; }
  .grid:not(.later) > .fab-col-12-12 { max-width:	100% !important; }
}


.grid [class*='col-'] {
  display:block;
  width:100%;
  padding-left:2%;
  padding-right:2%;
  float:left;
}

.grid.fixedSpaces [class*='col-'] {
  padding-left:15px;
  padding-right:15px;
}

.fix-1-12 { max-width:	70px !important; }
.fix-2-12 { max-width:	164px !important; }
.fix-3-12 { max-width:	258px !important; }
.fix-4-12 { max-width:	354px !important; }
.fix-5-12 { max-width:	448px !important; }
.fix-6-12 { max-width:	544px !important; }
.fix-7-12 { max-width:	640px !important; }
.fix-8-12 { max-width:	734px !important; }
.fix-9-12 { max-width:	828px !important; }
.fix-10-12 { max-width:922px !important; }
.fix-11-12 { max-width:1018px !important; }
.fix-12-12 { max-width:1114px !important; }

[class*='fix-'] {
  width:100% !important;
  margin-left:auto !important;
  margin-right:auto !important;
  float:none;
}

.toLeft,
.toLeft[class*='fix-'],
.toLeft[class*='col-'] {
  margin-left:0 !important;
  margin-right:auto !important;
}

.toRight,
.toRight[class*='fix-'],
.toRight[class*='col-'] {
  margin-right:0 !important;
  margin-left:auto !important;
  float:right;
}

.toCenter,
.toCenter[class*='col-'] {
  margin-left:auto !important;
  margin-right:auto !important;
}

.popupTrigger,
.dropdownTrigger,
.sidebarTrigger {
  cursor:pointer;  
}

.shiftImage {
  margin-top:-15%;
  margin-bottom:-100%;
}

.shiftImageVertical {
  margin-right:-100%;
  max-width:none;
}



.slide.video .background {
  overflow:hidden;  
}

.slide.video .background video{
  position:fixed;
  top:50%;
  left:50%;
  min-width:100%;
  min-height:100%;
  width:auto;
  height:auto;
  z-index:-100;
  -webkit-transform:translateX(-50%) translateY(-50%);
  transform:translateX(-50%) translateY(-50%);
  background-size:cover;
  
  -webkit-transition:1s opacity;
  transition:1s opacity;
}

.slide.whiteSlide .fade {
  background:rgba(255,255,255,0.85);
}

.videoThumbnail {
  position:relative;
  display:inline-block;
  font-size:0;
  -webkit-box-shadow:0 32px 44px 0 rgba(0,0,0,0.6);
  box-shadow:0 32px 44px 0 rgba(0,0,0,0.6);
  overflow:hidden;
  line-height:0;
}

.videoThumbnail:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:url('../assets/svg/video-icon.svg') no-repeat;
  background-position:center center;
  -webkit-transition:0.5s;
  transition:0.5s;
}

.videoThumbnail:hover:after {
  background-color:rgba(0,0,0,0.15);
  -webkit-transform:scale(1.1);
  transform:scale(1.1s);
  -webkit-transition:0.25s;
  transition:0.25s;
}

.videoThumbnail:active:after {
  opacity:0.8;
}

.videoThumbnail.small {
  max-width:200px;
  display:block;
  -webkit-box-shadow:0 9px 24px 0 rgba(0,0,0,0.6);
  box-shadow:0 9px 24px 0 rgba(0,0,0,0.6);
}

.videoThumbnail.small:after {
  background-size:44px;  
}

.pad {
  border-radius:20px;
  padding:6% 10%;
  border:4px solid #fff;
  color:#303030;
  background:#fff;
  overflow:hidden;
}
.pad.shadow {
   -webkit-box-shadow:0 52px 64px rgba(0,0,0,0.5);
   box-shadow:0 52px 64px rgba(0,0,0,0.5);
}

.pad.shadowHover {
  -webkit-transition:0.5s;
  transition:0.5s;
  -webkit-box-shadow:0 52px 64px rgba(0,0,0,0);
  box-shadow:0 52px 64px rgba(0,0,0,0);
}

.pad.shadowHover:hover {
   -webkit-box-shadow:0 52px 64px rgba(0,0,0,0.5);
   box-shadow:0 52px 64px rgba(0,0,0,0.5);
}

.pad.stroke {
  background:transparent;
  -webkit-transition:0.15s;
  transition:0.15s;
  color:#fff;
}

.pad.stroke:hover {
  background:#fff;
  color:#303030;
  -webkit-transition:0.15s;
  transition:0.15s;
}

.pad small {
   font-size:15px;
   line-height:1.45;
   margin:15px 0;
}


.resizing .equalElement { 
  -webkit-transition:0s !important;
  transition:0s !important;
}

/* small screen */
@media screen and (max-width:1023px) {
  .videoThumbnail {
    max-width:100%;
    width:100%;
  }
  
  .grid:not(.later) > [class*='col-'] {
    max-width:100% !important;
    width:100% !important;
  }
  
  .grid:not(.later) > [class*='col-'] .mobileLeft {
    text-align:left;  
  }
  
  .grid:not(.later) > [class*='col-'] .mobileRight {
    text-align:right;  
  }
  
  .grid:not(.later) > [class*='col-'] .pad {
     border:none;
     padding:10% 0 !important;
     border-radius:0;
     -webkit-transition:0s !important;
     transition:0s !important;
  }
  .grid:not(.later) > [class*='col-'] .pad:hover,
  .grid:not(.later) > [class*='col-'] .pad.stroke {
     background:inherit;
     color:inherit;
  }
  
  .shiftImage {
    margin-top:0 !important;
    margin-bottom:0 !important;
  }
  
  .shiftImageVertical {
    margin-right:0 !important;
    max-width:100% !important;
  }
}

/* smaller than ipad portrait  */
@media screen and (max-width:767px) {
  .grid.later > [class*='col-'] {
    max-width:100% !important;
    width:100% !important;
  }
  
  .grid.later > [class*='col-'] .mobileLeft {
    text-align:left;  
  }
  
  .grid.later > [class*='col-'] .mobileRight {
    text-align:right;  
  }
  .pad {
     background:inherit;
     color:inherit;
     border:none;
     padding:0 !important;
     overflow:inherit;
     border-radius:0;
     -webkit-box-shadow:none;
     box-shadow:none;
     -webkit-transition:0s !important;
     transition:0s !important;
  }
  
  .pad.shadow {
     -webkit-box-shadow:none;
     box-shadow:none;   
  }
}


/* ipad vertical and smaller */
@media screen and (max-width:768px) {
  .slide .wrap {
    padding:calc(10% + 50px) calc(10% + 15px);
  }
  
}







/***
 *      _____                 _     
 *     |  __ \               | |    
 *     | |__) __ _ _ __   ___| |____ 
 *     |  ___/ _` | '_ \ / _ | / __/
 *     | |  | (_| | | | |  __| \__ \
 *     |_|   \__,_|_| |_|\___|_/___/
 *                                  
 *                                  
 */
.panel {
  font-family:'Raleway', sans-serif;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:2.65% 3%;
  z-index:100;
  text-align:center;
  font-size:22px;
  pointer-events:none;
  
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;

  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
.panel.bottom {
  top:inherit;
  bottom:0;
}

.panel.top {
  -webkit-transform:translate3d(0,-100%,0);
  transform:translate3d(0,-100%,0);
  opacity:0;
}

.panel.bottom {
  -webkit-transform:translate3d(0,100%,0);
  transform:translate3d(0,100%,0);
  opacity:0;
}

.page-loaded .panel {
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
  opacity:1;
  -webkit-transition:-webkit-transform 0.5s, opacity 0.5s;
  transition:transform 0.5s, opacity 0.5s;
}

.panel .hidden,
.panel .hidden * {
  display:none;
}

.panel .sections {
  display:table;
  width:100%;
  font-size:0;
}

.sections svg {
  fill:#fff;
  width:28px;
  height:28px;   
}

.slides.whiteSlide .panel svg {
  fill:#303030;
  width:22px;
  height:22px;   
  vertical-align:top;
}

.sections > div {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  width:33.33333%;
  white-space:nowrap;
  font-size:22px;
  height:50px
}

.sections > div * {
  pointer-events:all;
}

.sections .left {
   text-align:left;
}

.sections .right {
  text-align:right;
}

.sections .center {
  text-align:center;
}

.sections .menu {
  white-space:nowrap;
  display:inline-block;
  padding:0 20px;
  font-size:0;
}

.sections .menu li {
  font-size:22px;
  display:inline-block;
  margin:0 10px;
}

.sections .menu.small li {
  font-size: 18px;
  margin: 0 16px;
}

.sections .menu li a {
   padding:4px 10px 5px;
}

.sections .menu.uppercase {
  font-weight:600;
}

.sections .menu.uppercase li {
  font-size:17px;
  margin:0 20px;
  letter-spacing:0.15em;
}

.sections .menu.uppercase.small li {
  font-size:14px;
  margin:0 20px;
}

.sections .center.space {
   padding:0 20px;
}
.sections .right.space {
   padding-left:20px;
}
.sections .left.space {
   padding-right:20px;
}

.sections .right ul.crop {
  padding-right:0;  
}
.sections .left ul.crop {
  padding-left:0;  
}
.sections .left ul.crop li:first-child {
  margin-left:0;   
}
.sections .right ul.crop li:last-child {
  margin-right:0;
}

.sections a:not(.button):hover {
  opacity:0.75;
  -webkit-transition:0.15s;
  transition:0.15s;
}

.panel .button {
  display:inline-block;
  /*border-radius:50px;*/
  padding-left:20px;
  padding-right:20px;
  /*background:#fff;*/
  /*color:#303030;*/
  font-size:22px;
  margin:0;
  vertical-align:middle;
}

.panel .button.small {
   font-size:18px;  
}

.panel .nextSlide,
.panel .prevSlide {
  width:24px;
  height:24px;
}

.panel .button + .button {
   margin-left:10px;  
}

.menuButton.uppercase {
   font-size:17px;
}

.slides.whiteSlide .menuButton {
   /*background:#303030;*/
   color:#fff;
}

.panel .actionButton {
  display:inline-block;
  height:50px;
  width:50px;
  padding:12px;
  border:2px solid transparent;
  /*border-radius:25px;*/
  z-index:999;
  /*background:rgba(40,40,40,.6);*/
  line-height:1;
  /*-webkit-box-shadow:0 0 1px 1px rgba(255,255,255,0.1);*/
  /*box-shadow:0 0 0 1px rgba(255,255,255,0.1);*/
  cursor:pointer;
  -ms-touch-action:manipulation;
  touch-action:manipulation;
  vertical-align:top;
}

.panel .actionButton:hover {
  /*background:rgba(41,41,41,.8);*/
}

.slides.whiteSlide .panel .actionButton svg {
   fill:#fff;  
}

/* ipad portrait and smaller */
@media screen and (max-width:768px) {
  .panel {
    padding:5%;
  }
}

/* preloader */
.slides .slide.selected {
   opacity:0.2 !important;
}

html:not(.page-loaded)  .slides .slide.selected {
   opacity:1;
}

.loadingIcon {
	position:fixed;
  z-index:10000;
	text-align:center;
  top:30px;
  right:30px;
  opacity:0;
}

.page-ready .loadingIcon {
	-webkit-transform:scale(1);
  transform:scale(1);
	opacity:1;
	-webkit-transition:0.5s 0.5s;
	transition:0.5s 0.5s;
}

.loadingIcon svg {
	width:24px;
	height:24px;
}

.loadingIcon svg .dash {
	stroke:#fff;	
}
.page-loaded .loadingIcon {
	opacity:0;
	-webkit-transform:scale(0);
  transform:scale(0);
  pointer-events:none;
	-webkit-transition:all 0.5s, visibility 0s 5s;
	transition:all 0.5s, visibility 0s 5s;
}

.slides .loadingIcon svg {	 
  -webkit-animation:loading 3s infinite cubic-bezier(.64,.48,.55,.64);
  animation:loading 3s infinite cubic-bezier(.64,.48,.55,.64);
}

.loadingIcon svg .dash {
	-webkit-transition:0.3s linear;
	transition:0.3s linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(-1080deg); transform:rotate(-1080deg); }
}
@keyframes loading {
	from { transform:rotate(-1080deg); }
}








/***
 *       _____       _      
 *      / ___/( )   | |     
 *     | (___  _  __| | ___ 
 *      \___ \| |/ _` |/ _ \
 *      ____) | | (_| |  __/
 *     /_____/|_|\__,_|\___/
 *                          
 *                          
 */
.side {
  position:fixed;
  right:0;
  top:0;
  bottom:0;
  height:100%;
  z-index:100;
  padding:calc(5.56% + 50px) 5%;
  pointer-events:none;
  opacity:0;
  -webkit-transition:opacity 0.5s;
  transition:opacity 0.5s;
  
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

.page-loaded .side {
   opacity:1;  
}

.side.left {
   left:0;
   right:inherit;
}

.side.right {
   right:0;
   left:inherit;
}

.navigation {
  display:table;
  height:100%;
}

.navigation ul {
   display:table-cell;
   vertical-align:middle;
}

.navigation * {
   pointer-events:all;
}

.navigation li {
  fill:#fff;
  display:block;
  background:transparent;
  padding:9px;
  margin:0 -9px;
  cursor:pointer;
  position:relative;
}

.navigation li:after {
  content:"";
  display:block;  
  width:15px;
  height:15px;
  -webkit-border-radius:7px;
  border-radius:7px;
  opacity:0.5;
  background:#bebebe;
  /*-webkit-box-shadow:0 0 1px #303030;*/
  /*box-shadow:0 0 1px #303030;*/
  
  -webkit-transition:opacity 0.15s, background 0.15s;
  transition:opacity 0.15s, background 0.15s;
}

/* sizes */
.medium .navigation li {
  padding:11px;
  margin:0 -11px;
}

.medium .navigation li:after {
  width:10px;
  height:10px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

.small .navigation li {
  padding:13px;
  margin:0 -9px;
}

.small .navigation li:after {
  width:6px;
  height:6px;
  -webkit-border-radius:3px;
  border-radius:3px;
}

/* tooltitps for titles */
.navigation li.tooltip:before {
  content:attr(data-title);
  position:absolute;
  left:0;
  top:1px;
  background:rgba(40,40,40, 0.7);
  color:#fff;
  font-size:15px;
  border-radius:50px;
  font-family:"Source Sans Pro", sans-serif;
  padding:6px 14px 7px;
  visibility:hidden;
  white-space:nowrap;
  letter-spacing:0.01em;
  -webkit-transform:translateX(-100%);
  transform:translateX(-100%);
  -webkit-box-shadow:0 0 1px 1px rgba(255,255,255,0.1);
  box-shadow:0 0 0 1px rgba(255,255,255,0.1);
}

.navigation li:hover:before {
   visibility:visible;
}

.left .navigation li:before {
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
  left:inherit;
  right:0;
}

.panel.bottom .navigation li:before {
  -webkit-transform:translateY(-100%) translateX(-50%);
  transform:translateY(-100%) translateX(-50%);
  left:14px; /* as padding */
  top:-2px;
}


/* compact navigation */
.compact.side {
  padding:30px calc(2.5% - 8px); 
}

.compact.side .navigation li {
  width:15px;
  height:7px;
  margin:0;
  -webkit-box-shadow:none;
  box-shadow:none;
  border-radius:0;
  background:#fff;
  opacity:0.2;
  padding:1px;
}

.compact.side .navigation li:hover {
   opacity:1;
}

.compact.side .navigation li.selected {
   opacity:1;
}

.whiteSlide .compact.side .navigation li {
  background:rgba(48,48,48,1);
} 

.compact.side .navigation li:after {
   display:none;
}

.compact.side .navigation li:first-child {
   border-radius:10px 10px 0 0;
}

.compact.side .navigation li:last-child {
   border-radius:0 0 10px 10px;
}

.compact.side .navigation li:after {
   display:none;
}
.compact.side .navigation li:before {
  /*font-size:12px;
  padding:4px 8px; */
  margin:0 -12px;
  top:-10px;
}

/* stroke */
.stroke .navigation li:after {
  border-color:#fff;
  border-style:solid;
  border-width:2px;
  background-color:transparent;
}

.stroke.small .navigation li:after {
  border-width:1px;
}

.stroke .navigation li.selected:after {
   background:#fff;
}

/* square */
.square .navigation li:after {
   border-radius:0;
}
.square.small .navigation li:after {
   border-radius:0;
}


/* diamond */
.diamond .navigation li:after {
   border-radius:0px;
   -webkit-transform:rotate(45deg) scale(0.72);
   transform:rotate(45deg) scale(0.72);
}
.diamond.medium .navigation li:after {
   -webkit-transform:rotate(45deg) scale(0.88);
   transform:rotate(45deg) scale(0.88);
}
.diamond.small .navigation li:after {
   -webkit-transform:rotate(45deg) scale(1);
   transform:rotate(45deg) scale(1);
}

.navigation li:hover:after {
  opacity:1;
}

.stroke .navigation li:hover:after {
   background:#fff;
}

.slides.whiteSlide .navigation li:after {
  background:#303030;
  -webkit-box-shadow: 0 0 1px #fff;
  box-shadow: 0 0 1px #fff;
}

.slides.whiteSlide .stroke .navigation li:after {
   border-color:#303030;
   background:transparent;
}

.slides.whiteSlide .stroke .navigation li:hover:after {
   background:#303030;
}

.slides.whiteSlide .stroke .navigation li.selected:after {
   border-color:#303030;
   background:#303030;
}

.navigation li.selected:after {
  opacity:1;
  border:2px solid #faa61d;
  background-color:transparent;
}

/* nav in panel */
.panel .side {
  position:relative;
  display:inline;
  height:auto;
  padding:0;
}

.panel .navigation,
.panel .navigation ul {
   display:inline;  
}

.panel .navigation li {
  display:inline-block;
  margin:-9px 0;
}

.panel .side.small .navigation li {
   margin:0;  
}

.sideArrow {
  width:31px;
  height:72px;
  margin:0px -9px;
}


.slides.whiteSlide .side svg {
   fill:#303030;
}

/* iphone portrait and smaller*/
@media screen and (max-width:414px) {
  .side {
    padding:calc(5.56% + 50px) 4%;  
  }
}

/* End of Side */








/***
 *       _____ _                    
 *      / ___/| |                   
 *     | (___ | |__   __ _ _ __ ___ 
 *      \___ \| '_ \ / _` | '__/ _ \
 *      ____) | | | | (_| | | |  __/
 *     /_____/|_| |_|\__,_|_|  \___/
 *                                  
 *                                  
 */
.dropdown {
  position:fixed;
  z-index:300;
  color:#303030;
  width:160px;
  background:#fff;
  -webkit-box-shadow:0 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow:0 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom:50px;
  border-radius:8px;
  text-align:center;
  cursor:default;
  visibility:hidden;
  opacity:0;
  -webkit-transform-origin:top;
  transform-origin:top;
  -webkit-transform:translateY(0) scale(0.9);
  transform:translateY(0) scale(0.9);
  -webkit-transition:-webkit-transform 0.35s, opacity 0.35s;
  transition:transform 0.35s, opacity 0.35s;
}

.dropdown.bottom {
  -webkit-transform-origin:bottom;
  transform-origin:bottom;
}

.dropdown:after {
	content:"";
	bottom:100%;
	left:25px;
	border:solid transparent;
	height:0;
	width:0;
	position:absolute;
	pointer-events:none;
	border-color:rgba(255, 255, 255, 0);
	border-bottom-color:#fff;
	border-width:7px;
	margin-left:-7px;
}

.dropdown.bottom:after {
	top:100%;
  bottom:initial;
  border-bottom-color:rgba(255, 255, 255, 0);
	border-top-color:#fff;
}

.dropdown.right:after {
  right:18px;
  left:auto;
}

.dropdown.show {
  visibility:visible;
  opacity:1;
}

.dropdown.show {
  -webkit-transform:translateY(20px);
  transform:translateY(20px);
}

.dropdown.bottom.show {
  -webkit-transform:translateY(-20px);
  transform:translateY(-20px);
}

.dropdown.show.hide {
  opacity:0;
  -webkit-transform:translateY(40px);
  transform:translateY(40px);
}

.dropdown.bottom.show.hide {
  -webkit-transform:translateY(-40px);
  transform:translateY(-40px);
}

.dropdown h3 {
  font-size:17px;
  padding:15px 0;
  font-weight:500;
  margin:0;
  text-align:center;
  opacity:0.65;
}

.dropdown.share li {
  float:left;
  text-align:center;
  display:block;
  width:80px;
  height:50px;
  padding:14px 0;
  color:#fff;
  position:relative;
  cursor:pointer;
  opacity:0.9;
  -webkit-transition:0.15s;
  transition:0.15s;
}

.dropdown.share li:hover {
  opacity:1;
}

.dropdown.share li:after {
  content:" ";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:0;
  background:rgba(0,0,0,0.1);
  -webkit-transition:0.25s;
  transition:0.25s;
}

.dropdown.share li:active:after {
  opacity:1;
  -webkit-transition:0.1s;
  transition:0.1s;
}

.dropdown.share li svg {
   width:20px;
   height:20px;
   fill:#fff;
}

.dropdown.share .mail {
  width:160px;
  height:50px;
  color:#7E7E7E;
  font-size:15px;
  padding:15px 0;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}
.dropdown.share .mail:hover {
   text-decoration:underline;
}

.dropdown.share .googlePlus {
   background:#dd4b39;
}
.dropdown.share .facebook {
   background:#3b5998;
}
.dropdown.share .twitter {
   background:#55acee;
}
.dropdown.share .digg {
   background:#000000;
}
.dropdown.share .delicious {
   background:#3399ff;
}
.dropdown.share .stumbleupon {
   background:#eb4924;
}
.dropdown.share .linkedin {
   background:#0077b5;
}
.dropdown.share .pinterest {
   background:#cc2127;
}






/***
 *       _____       _      _                
 *      / ___/( )   | |    | |               
 *     | (___  _  __| | ___| |__   __ _ _ ___
 *      \___ \| |/ _` |/ _ | '_ \ / _` | '__/
 *      ____) | | (_| |  __| |_) | (_| | |   
 *     /_____/|_|\__,_|\___|_.__/ \__,_|_|   
 *                                           
 *                                           
 */
.sidebar {
  font-family:"soletoregular";
  position:fixed;
  top:0;
  right:0;
  width:550px;
  max-width:95%;
  height:100%;
  color:#fff;
  z-index:500;
  background:rgba(34,34,34,1);
  -webkit-transition:-webkit-transform 0.5s, visibility 0s;
  transition:transform 0.5s, visibility 0s;
  -webkit-transform:translateX(100%);
  -ms-transform:translateX(100%);
  transform:translateX(100%);
  overflow-y:auto;
  -webkit-overflow-scrolling:touch;
}

.sidebarShown .sidebar.visible {
  -webkit-transform:translateX(0%);
  -ms-transform:translateX(0%);
  transform:translateX(0%);
  opacity:0.90;
}

.sidebar .content {
  padding:60px;
  overflow-y:auto; 
  position:relative;
}

/* if you use centered content in a sidebar */
.sidebar .wrap {
   padding:0;  
}

.sidebarShown .slide.selected .content {
  overflow:hidden;  
}

.sidebar.left {
  right:inherit;
  left:0;
  -webkit-transform:translateX(-100%);
  transform:translateX(-100%);
}

/* ELEMENTS */
.sidebar .logo {
  padding:0;
  font-size:0;
  margin-bottom:35px;  
}

.sidebar .close {
  position:absolute;
  top:0;
  right:0;
  cursor:pointer;
  padding:40px;
  font-size:0;
  opacity:1;
  z-index:101;
  -webkit-transition:0.25s;
  transition:0.25s;
}

.sidebar:hover .close:hover {
  opacity:1;
}

.sidebar .close svg {
  width:15px;
  height:15px;
  fill:#fff;
}


/* menu items */
.sidebar .uppercase li a {
  text-transform:uppercase;  
  letter-spacing:0.15em;
}

.sidebar ul {
  line-height:1.5;
  margin-bottom:10px;  
  display:block;
  /*font-size:0;*/
}

.sidebar a {
  display:inline-block;
  color:#fff;
  fill:#fff;
}

.sidebar a:hover {
  opacity:0.6;
}

.sidebar .mainMenu li a {
  font-size:22px;
}

.sidebar .mainMenu.small li a {
  font-size:22px;
}

.sidebar .subMenu li {
  text-transform:none;
  letter-spacing:0px;
}

.sidebar .subMenu li {
  font-size:16px;
  margin-left:30px;
  margin-top:-2px
}

.sidebar .subMenu.small li {
  font-size:16px;
}

/* social */
.sidebar .social {
  margin-top:40px;
  position:absolute;
  bottom:0;
  margin-bottom:5px;
}

.sidebar .social li {
  display:inline-block;
  margin-right:20px;
}

.sidebar .social li a {
  font-size:0;
  padding:0;   
}

.sidebar .social li a svg {
  width:24px;
  height:24px;
}


/* sidebar sizes */
.sidebar.small ul {
  margin-bottom:16px;
}

.sidebar.small .content {
  padding:30px;
}

.sidebar.small .social {
  margin-top:30px;
}

.sidebar .social.small li {
  margin-right:12px;
}

.sidebar .social.small li a svg {
  width:16px;
  height:16px;
}

.sidebar .large li a {
  font-size:30px;  
}

.sidebar .light li a {
  font-weight:100;
}

.sidebar .social.medium li a svg {
  width:18px;
  height:18px;
}

.sidebar .social.medium li {
  margin-right:14px;
}


/* SIDEBAR ANIMATION */
.page-loaded .sidebarShown .slide.selected {
	/*-webkit-transform:scale(0.95) !important;*/
  /*transform:scale(0.95) !important;*/
  pointer-events:none;
  opacity:0.2 !important;
}

.sidebarShown .panel.top {
   opacity:0;
}

.sidebarShown .panel.bottom {
  opacity:0.5;   
  -webkit-transform:scale(0.95) translateY(-10%);
  transform:scale(0.95) translateY(-10%);
}

/* animation */
.page-loaded .sidebarShown .panel,
.page-loaded .sidebarShown .slide.selected,
.page-loaded .sidebarShown .slide.selected:after,
.sidebar {
  -webkit-transition:-webkit-transform 0.5s, opacity 0.5s !important;
  transition:transform 0.5s, opacity 0.5s !important;
}






/***
 *      _____                        
 *     |  __ \                       
 *     | |__) __  _ __  _   _ _ __  
 *     |  ___/ _ \| '_ \| | | | '_ \ 
 *     | |  | (_) | |_) | |_| | |_) |
 *     |_|   \___/| .__/ \__,_| .__/ 
 *                | |         | |    
 *                |_|         |_|    
 */
 
 
/* POPUP */
.popup {
  font-family:"soletomedium";
  position:fixed;
  top:0;
  right:0;
  width:100%;
  height:100%;
  color:#fff;
  z-index:1000;
  background:rgba(17, 17, 17, 0.9);
  -webkit-transition:-webkit-transform 0.5s, opacity 0.5;
  transition:transform 0.5s, opacity 0.5;
  overflow-y:auto;
  -webkit-overflow-scrolling:touch;
  display:none;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}

.popup .content {
  overflow-y: auto;
}

.popupShown .popup.visible {
  display:block;
}

.mobile .popupShown .popup.visible {
   -webkit-animation:none;
   animation:none;
}

.popup .close {
  position:fixed;
  top:0;
  right:0;
  cursor:pointer;
  padding:14px;
  font-size:0;
  opacity:0.5;
  z-index:1050;
  -webkit-transition:0.25s;
  transition:0.25s;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}

.popup .close:hover {
  opacity:1;
}

.popup .close svg {
   width:30px;
   height:30px;
   fill:#fff;
}

.popup .wrap {
   padding:18px 58px;
}

.embedVideo {
   position:relative;
   padding-bottom:56.25%; /* 16x9 */
   height:0;
   overflow:hidden;
   max-width:100%;
} 

.embedVideo iframe, 
.embedVideo object, 
.embedVideo embed {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
}

.iframeBackground {
  border:0;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.embedVideo.size-16x10 {
   padding-bottom:62.5%;
}

.embedVideo.size-16x10 {
   padding-bottom:62.5%;
}

.embedVideo.size-4x3 {
   padding-bottom:75%;
}

.embedVideo.size-1x1,
.embedVideo.size-square {
   padding-bottom:100%;
}







/***
 *      ______                       _____                            
 *     |___  /                      |_   _|                           
 *        / / ___   ___  _ __ ___     | |  _ __ ___   __ _  __ _  ___ 
 *       / / / _ \ / _ \| '_ ` _ \    | | | '_ ` _ \ / _` |/ _` |/ _ \
 *      / /_| (_) | (_) | | | | | |  _| |_| | | | | | (_| | (_| |  __/
 *     /_____\___/ \___/|_| |_| |_| |_____|_| |_| |_|\__,_|\__, |\___/
 *                                                          __/ |     
 *                                                         |___/      
 */

[data-action="zoom"] {
  cursor:pointer;
  cursor:-webkit-zoom-in;
  cursor:-moz-zoom-in;
}

.zoom-img,
.zoom-img-wrap {
  position:relative;
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
  -webkit-transition-timing-function:cubic-bezier(.2,0,.3,1) !important;
  transition-timing-function:cubic-bezier(.2,0,.3,1) !important;
}

img.zoom-img {
  cursor:pointer;
  cursor:-webkit-zoom-out;
  cursor:-moz-zoom-out;
}

.zoom-overlay {
  background:rgba(17, 17, 17, 1);
  position:fixed;
  top:-9999px;
  left:-9999px;
  right:-9999px;
  bottom:-9999px;
  pointer-events:none;
  filter:"alpha(opacity=0)";
  opacity:0;
  -webkit-transition:opacity 0.5s;
  transition:opacity 0.5s;
}

.zoom-overlay-open .zoom-overlay {
  filter:"alpha(opacity=90)";
  opacity:0.9;
}

.zoom-overlay-open .side,
.zoom-overlay-open .panel {
   opacity:0;
  -webkit-transition-delay:0s;
  transition-delay:0s;
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor:default;
}

.zoom-img-parent {
  position:relative;
  z-index:1000;  
}







/***
 *       _____ _ _     _           
 *      / ___/| (_)   | |          
 *     | (___ | |_  __| | ___ _ __ 
 *      \___ \| | |/ _` |/ _ \ '__/
 *      ____) | | | (_| |  __/ |   
 *     /_____/|_|_|\__,_|\___/_|   
 *                                 
 *                                 
 */
.slider {
  position:relative;
}

.slider.clickable {
  cursor:pointer;
}

.slider > li {
  display:none;
  top:0;
  left:0;
  opacity:0;
  -webkit-transition:opacity 0.35s;
  transition:opacity 0.35s;
  pointer-events:none;
}

.slider > li.selected {
  display:block;
  opacity:1;
  -webkit-transition:opacity 0.35s;
  transition:opacity 0.35s;
  pointer-events:all;
}

.controller li {
  cursor:pointer;
}

.controller li.selected {
  cursor:default;
  pointer-events:none;
}





/*                   \                           /
    .           ,                              o
     *                 ¤     ~            .·
        ______  __  __          _       *
       |  ___/ / _// _|   *    | |        
       | |___ | |_| |_ ___  ___| |_ ____
    .  |  __/ |  _|  _/ _ \/ __| __/ __/
   ¯   | |____| | | ||  __| (__| |_\__ \    ¨
  ´    |_____/|_| |_| \___|\___/\__/___/   '
                                 ¸         §
   ¸.*         ¤        *         .           .
                      .            °            /
.*/                 

/* DEFAULT */
.slide.before {
  -webkit-transform:translate3d(0,-50%,0);
  transform:translate3d(0,-50%,0);
}

.slide,
.slide.after {
  -webkit-transform:translate3d(0,50%,0);
  transform:translate3d(0,50%,0);
  will-change: transform;
}


.slide.before,
.slide.after {
   opacity:0;
}

.slide.selected {
  -webkit-transform:translate3d(0,0,0) !important;
  -moz-transform:translate3d(0,0,0) !important;
  -ms-transform:translate3d(0,0,0) !important;
  -o-transform:translate3d(0,0,0) !important;
  transform:translate3d(0,0,0) !important;
  z-index:11;
}

.page-loaded .slide.selected {
  opacity:1 !important;
}


/* horizontal */
.horizontal .slide,
.horizontal .slide.before {
	-webkit-transform:translate3D(-50%,0,0);
	-ms-transform:translate3D(-50%,0,0);
  transform:translate3D(-50%,0,0);
}

.horizontal .slide.after {
	-webkit-transform:translate3D(50%,0,0);
	-ms-transform:translate3D(50%,0,0);
  transform:translate3D(50%,0,0);
}


/* FILM */
.film .slide.before {
	-webkit-transform:translate3D(0,-100%,0);
	-ms-transform:translate3D(-100%,0,0);
  transform:translate3D(0,-100%,0);
}

.film .slide.after {
	-webkit-transform:translate3D(0,100%,0);
  -ms-transform:translate3D(0,100%,0);
  transform:translate3D(0,100%,0);
}



/* Horizontal */
.film.horizontal .slide.before {
	-webkit-transform:translate3D(-100%,0,0);
  -ms-transform:translate3D(-100%,0,0);
  transform:translate3D(-100%,0,0);
}

.film.horizontal .slide,
.film.horizontal .slide.after {
	-webkit-transform:translate3D(100%,0,0);
  -ms-transform:translate3D(100%,0,0);
  transform:translate3D(100%,0,0);
}


/* ZEN */
.zen .slide.before {
	-webkit-transform:translateY(-100%) scale(0.8);
  -ms-transform:translateY(-100%) scale(0.8);
  transform:translateY(-100%) scale(0.8);
}

.zen .slide,
.zen .slide.after {
	-webkit-transform:translateY(100%) scale(0.8);
  -ms-transform:translateY(100%) scale(0.8);
  transform:translateY(100%) scale(0.8);
}

/* Horizontal */
.zen.horizontal .slide.before {
	-webkit-transform:translateX(-100%) scale(0.8);
  -ms-transform:translateX(-100%) scale(0.8);
  transform:translateX(-100%) scale(0.8);
}

.zen.horizontal .slide,
.zen.horizontal .slide.after {
	-webkit-transform:translateX(100%) scale(0.8);
  -ms-transform:translateX(100%) scale(0.8);
  transform:translateX(100%) scale(0.8);
}


/* STACK */
.stack .slide,
.stack .slide.after {
	-webkit-transform:translateY(100%);
  -mstransform:translateY(100%);
  transform:translateY(100%);
}

.stack .slide.after {
   opacity:initial;
}

.stack .slide.selected,
.stack .slide.after.active {
   z-index:11 !important;
}

.stack .slide.before {
	-webkit-transform:scale(0.9);
  -ms-transform:scale(0.9);
  transform:scale(0.9);
}

/* Horizontal */
.stack.horizontal .slide,
.stack.horizontal .slide.after {
	-webkit-transform:translateX(100%);
  -ms-transform:translateX(100%);
  transform:translateX(100%);
}

.stack.horizontal  .slide.before {
	-webkit-transform:scale(0.9);
  transform:scale(0.9);
}


/* CARDS */
.cards .slide,
.cards .slide.after {
	-webkit-transform:translateY(10%);
  -ms-transform:translateY(10%);
  transform:translateY(10%);
  opacity:initial;
}
.cards .slide.after {
   z-index:8 !important;
   opacity:0;
}

.cards .slide.selected {
   z-index:9 !important;
}

.cards .slide.before {
	-webkit-transform:translateY(-100%);
  -ms-transform:translateY(-100%);
  transform:translateY(-100%);
  z-index:7;
}

.cards .slide.active.before {
   z-index:10 !important;
}

/* Horizontal */
.cards.horizontal .slide,
.cards.horizontal .slide.after {
	-webkit-transform:translateX(10%);
  -ms-transform:translateX(10%);
  transform:translateX(10%);
}

.cards.horizontal .slide.before {
	-webkit-transform:translateX(-100%);
  -ms-transform:translateX(-100%);
  transform:translateX(-100%);
}



/* ZOOM CHANGE */
.zoom .slide.before {
	-webkit-transform:scale(1.4);
	-ms-transform:scale(1.4);
  transform:scale(1.4);
}

.zoom .slide,
.zoom .slide.after {
	-webkit-transform:scale(0.8);
	-ms-transform:scale(0.8);
  transform:scale(0.8);
}



/* PLAIN CHANGE */
.plain .slide.before {
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
  transform:scale(1);
}

.plain .slide,
.plain .slide.after {
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
  transform:scale(1);
}

.plain .slide.after:after,
.plain .slide.before:after {
   opacity:1;
   background:#111;
}


/* SPEED */
.page-loaded .fast .slide.active,
.page-loaded .fast .slide.selected,
.fast .panel {
  -webkit-transition:-webkit-transform 0.6s, opacity 0.6s;
  transition:transform 0.6s, opacity 0.6s;
}

.page-loaded .slide.selected,
.page-loaded .slide.active,
.panel {
  -webkit-transition:-webkit-transform 1s, opacity 1s;
  transition:transform 1s, opacity 1s;
}

.page-loaded .slow .slide.active,
.page-loaded .slow .slide.selected,
.slow .panel {
  -webkit-transition:-webkit-transform 1.4s, opacity 1.4s;
  transition:transform 1.4s, opacity 1.4s;
}

.page-loaded .slide.selected.entry,
.page-loaded .slide.active.entry {
  -webkit-transition:-webkit-transform 0s, opacity 1s;
  transition:transform 0s, opacity 1s;
}



/* EASING */
.active,
.selected,
.panel,
.sidebar {
   /*
   -webkit-transition-timing-function:cubic-bezier(.2,0,.3,1) !important;
   transition-timing-function:cubic-bezier(.2,0,.3,1) !important; */
}

.smooth .active,
.smooth .selected,
.smooth .panel,
.smooth .sidebar {
   -webkit-transition-timing-function:cubic-bezier(.55,.05,.35,.95) !important;
   transition-timing-function:cubic-bezier(.55,.05,.35,.95) !important;
}

.bounce .active,
.bounce .selected,
.bounce .panel,
.bounce .sidebar {
   -webkit-transition-timing-function:cubic-bezier(.40,1.15,.35,1) !important;
   transition-timing-function:cubic-bezier(.40,1.15,.35,1) !important;
}




/***
 *                                       _           _   ______ _                           _       
 *         /\         ( )               | |         | | |  ___/| |                         | |      
 *        /  \   _ __  _ _ __ ___   __ _| |_ ___  __| | | |___ | | ___ _ __ ___   ___ _ __ | |_ ___ 
 *       / /\ \ | '_ \| | '_ ` _ \ / _` | __/ _ \/ _` | |  __/ | |/ _ \ '_ ` _ \ / _ \ '_ \| __/ __/
 *      / ____ \| | | | | | | | | | (_| | ||  __/ (_| | | |____| |  __/ | | | | |  __/ | | | |_\__ \
 *     /_/    \_\_| |_|_|_| |_| |_|\__,_|\__\___/\__,_| |_____/|_|\___/_| |_| |_|\___/_| |_|\__|___/
 *                                                                                                  
 *                                                                                                  
 */

.animated [class*="ae-"] {
  -webkit-backface-visibility:hidden;
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
  -ms-transform:translate3d(0,0,0);
  -o-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}

/* Speed */
.animated.fast .animate [class*="ae-"]:not(.done) {
  -webkit-transition-duration:0.6s;
  transition-duration:0.6s;
}

.animated .animate [class*="ae-"]:not(.done) {
  -webkit-transition-duration:0.8s;
  transition-duration:0.8s;
}

.animated.slow .animate [class*="ae-"]:not(.done) {
  -webkit-transition-duration:1s;
  transition-duration:1s;
}

/* delays */
.animated.fast .animate .ae-1:not(.done) 	{ -webkit-transition-delay: 	10ms; transition-delay:	10ms; }
.animated.fast	.animate .ae-2:not(.done) 	{ -webkit-transition-delay: 	140ms; transition-delay:	140ms; }
.animated.fast	.animate .ae-3:not(.done) 	{ -webkit-transition-delay: 	270ms; transition-delay:	270ms; }
.animated.fast	.animate .ae-4:not(.done) 	{ -webkit-transition-delay: 	400ms; transition-delay:	400ms; }
.animated.fast	.animate .ae-5:not(.done) 	{ -webkit-transition-delay: 	530ms; transition-delay:	530ms; }
.animated.fast	.animate .ae-6:not(.done) 	{ -webkit-transition-delay: 	660ms; transition-delay:	660ms; }
.animated.fast	.animate .ae-7:not(.done) 	{ -webkit-transition-delay: 	790ms; transition-delay:	790ms; }
.animated.fast	.animate .ae-8:not(.done) 	{ -webkit-transition-delay: 	920ms; transition-delay:	920ms; }
.animated.fast	.animate .ae-9:not(.done) 	{ -webkit-transition-delay: 	1050ms; transition-delay:	1050ms; }
.animated.fast	.animate .ae-10:not(.done) { -webkit-transition-delay: 	1180ms; transition-delay:	1180ms; }

.animated .animate .ae-1:not(.done) 	{ -webkit-transition-delay:	10ms; transition-delay:	10ms; }
.animated .animate .ae-2:not(.done) 	{ -webkit-transition-delay:	160ms; transition-delay:	160ms; }
.animated .animate .ae-3:not(.done) 	{ -webkit-transition-delay:	320ms; transition-delay:	320ms; }
.animated .animate .ae-4:not(.done) 	{ -webkit-transition-delay:	480ms; transition-delay:	480ms; }
.animated .animate .ae-5:not(.done) 	{ -webkit-transition-delay:	640ms; transition-delay:	640ms; }
.animated .animate .ae-6:not(.done) 	{ -webkit-transition-delay:	800ms; transition-delay:	800ms; }
.animated .animate .ae-7:not(.done) 	{ -webkit-transition-delay:	960ms; transition-delay:	960ms; }
.animated .animate .ae-8:not(.done) 	{ -webkit-transition-delay:	1120ms; transition-delay:	1120ms; }
.animated .animate .ae-9:not(.done) 	{ -webkit-transition-delay:	1280ms; transition-delay:	1280ms; }
.animated .animate .ae-10:not(.done) { -webkit-transition-delay:	1440ms; transition-delay:	1440ms; }

.animated.slow	.animate .ae-1:not(.done) 	{ -webkit-transition-delay:	10ms; transition-delay:	10ms; }
.animated.slow	.animate .ae-2:not(.done) 	{ -webkit-transition-delay:	210ms; transition-delay:	210ms; }
.animated.slow	.animate .ae-3:not(.done) 	{ -webkit-transition-delay:	420ms; transition-delay:	420ms; }
.animated.slow	.animate .ae-4:not(.done) 	{ -webkit-transition-delay:	630ms; transition-delay:	630ms; }
.animated.slow	.animate .ae-5:not(.done) 	{ -webkit-transition-delay:	840ms; transition-delay:	840ms; }
.animated.slow	.animate .ae-6:not(.done) 	{ -webkit-transition-delay:	1050ms; transition-delay:	1050ms; }
.animated.slow	.animate .ae-7:not(.done) 	{ -webkit-transition-delay:	1260ms; transition-delay:	1260ms; }
.animated.slow	.animate .ae-8:not(.done) 	{ -webkit-transition-delay:	1470ms; transition-delay:	1470ms; }
.animated.slow	.animate .ae-9:not(.done) 	{ -webkit-transition-delay:	1680ms; transition-delay:	1680ms; }
.animated.slow	.animate .ae-10:not(.done) { -webkit-transition-delay:	1890ms; transition-delay:	1890ms; }


/* Directions */
.animated [class*="ae-"]:not(.done), /* default */
.animated .fromBottom [class*="ae-"]:not(.done),
.animated.fromBottom [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromBottom:not(.done) {
   visibility:hidden;
   -webkit-transform:translate3d(0,100px,0);
   transform:translate3d(0,100px,0);
   opacity:0;
}

.animated .fromTop [class*="ae-"]:not(.done),
.animated.fromTop [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromTop:not(.done) {
   -webkit-transform:translate3d(0,-100px,0);
   transform:translate3d(0,-100px,0);
}

.animated .fromLeft [class*="ae-"]:not(.done),
.animated.fromLeft [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromLeft:not(.done) {
   -webkit-transform:translate3d(-50px,0,0);
   transform:translate3d(-50px,0,0);
}

.animated .fromRight [class*="ae-"]:not(.done),
.animated.fromRight [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromRight:not(.done) {
   -webkit-transform:translate3d(50px,0,0);
   transform:translate3d(50px,0,0);
}

.animated .fromCenter [class*="ae-"]:not(.done),
.animated.fromCenter [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromCenter:not(.done) {
   -webkit-transform:scale(0.8) translate3d(0,0,0);
   transform:scale(0.8) translate3d(0,0,0);
}

.animated .fromBottomLeft [class*="ae-"]:not(.done),
.animated.fromBottomLeft [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromBottomLeft:not(.done) {
   -webkit-transform:translate3d(-100px,100px,0);
   transform:translate3d(-100px,100px,0);
}

.animated .fromTopLeft [class*="ae-"]:not(.done),
.animated.fromTopLeft [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromTopLeft:not(.done) {
   -webkit-transform:translate3d(-100px,-100px,0);
   transform:translate3d(-100px,-100px,0);
}

.animated .fromBottomRight [class*="ae-"]:not(.done),
.animated.fromBottomRight [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromBottomRight:not(.done) {
   -webkit-transform:translate3d(100px,100px,0);
   transform:translate3d(100px,100px,0);
}

.animated .fromTopRight [class*="ae-"]:not(.done),
.animated.fromTopRight [class*="ae-"]:not(.done),
.slides.animated [class*="ae-"].fromTopRight:not(.done) {
   -webkit-transform:translate3d(100px,-100px,0);
   transform:translate3d(100px,-100px,0);
}




/* Final Step */
.slides.animated .animate.active [class*="ae-"]:not(.done) {
  opacity:1;
  -webkit-backface-visibility:hidden;
  visibility:visible;
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
  -ms-transform:translate3d(0,0,0);
  -o-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}




/***
 *      ____             _                                   _    ______  __  __          _       
 *     |  _ \           | |                                 | |  |  ____|/ _|/ _|        | |      
 *     | |_) | __ _  ___| | ____ _ _ __ ___  _   _ _ __   __| |  | |__  | |_| |_ ___  ___| |_ ___ 
 *     |  _ < / _` |/ __| |/ / _` | '__/ _ \| | | | '_ \ / _` |  |  __| |  _|  _/ _ \/ __| __/ __|
 *     | |_) | (_| | (__|   < (_| | | | (_) | |_| | | | | (_| |  | |____| | | ||  __/ (__| |_\__ \
 *     |____/ \__,_|\___|_|\_\__, |_|  \___/ \__,_|_| |_|\__,_|  |______|_| |_| \___|\___|\__|___/
 *                            __/ |                                                               
 *                           |___/                                                                
 */

/* KEN BURNS */
.kenBurns .background,
.kenBurns.zoomout .background {
   -webkit-transform:translate3d(0,0,0);
   transform:translate3d(0,0,0);
   opacity:0.2;
   z-index:1;
}

.active.kenBurns:not(.video) .background,
.active.kenBurns.zoomout:not(.video) .background {
   -webkit-transition:-webkit-transform 5s cubic-bezier(.3,0,.7,1), opacity 1s ease;
   transition:transform 5s cubic-bezier(.3,0,.7,1), opacity 1s ease;
}

.selected.kenBurns:not(.video) .background,
.selected.kenBurns.zoomout:not(.video) .background {
   opacity:1;
   -webkit-transform:scale(1.05);
   -ms-transform:scale(1.05) rotate(-0.02deg);
   -moz-transform:scale(1.05) rotate(-0.02deg);
   transform:scale(1.05);
}

.windows .selected.kenBurns:not(.video) .background {
   -ms-transform:scale(1.05) rotate(-0.02deg);
   transform:scale(1.05) rotate(-0.02deg);
}

.kenBurns.zoomout:not(.video) .background {
   -webkit-transform:scale(1.05);
   transform:scale(1.05);
   
   /* fix for friends */
   -moz-transform:scale(1.05) rotate(-0.02deg);
}

.windows .kenBurns.zoomout:not(.video) .background {
   -ms-transform:scale(1.05) rotate(-0.02deg);
   transform:scale(1.05) rotate(-0.02deg);
}

.selected.kenBurns.zoomout:not(.video) .background,
.windows .selected.kenBurns.zoomout:not(.video) .background {
   -webkit-transform:translate3d(0,0,0);
   transform:translate3d(0,0,0);
}

.mobile .kenBurns .background,
.mobile .kenBurns.zoomout .background {
   -webkit-transition:0s;
   transition:0s;
   -webkit-transform:none;
   transform:none;
}


/* PARALLAX */
.parallax:not(.video) .background {
  -webkit-transform:translate3d(0,0,0) scale(1.15);
  transform:translate3d(0,0,0) scale(1.15);
  
  -webkit-transition:-webkit-transform-origin 1s, -webkit-transform 1s;
  transition:transform-origin 1s, transform 1s;
}

.fast .parallax:not(.video) .background {
  -webkit-transition:-webkit-transform-origin .6s, -webkit-transform .6s;
  transition:transform-origin .6s, transform .6s;
}

.slow .parallax:not(.video) .background {
  -webkit-transition:-webkit-transform-origin 1.4s, -webkit-transform 1.4s;
  transition:transform-origin 1.4s, transform 1.4s;
}

.parallax.selected:not(.video) .background {
  -webkit-transform-origin:center;
  transform-origin:center;
}

.slide.after.parallax:not(.video) .background {
  -webkit-transform-origin:top center;
  transform-origin:top center;
}

.slide.before.parallax:not(.video) .background {
  -webkit-transform-origin:bottom center;
  transform-origin:bottom center;
}

/* horizontal */
.horizontal .slide.after.parallax:not(.video) .background {
  -webkit-transform-origin:left center;
  transform-origin:left center;
}

.horizontal .slide.before.parallax:not(.video) .background {
  -webkit-transform-origin:right center;
  transform-origin:right center;
}

/* zoom */
.zoom .slide.after.parallax:not(.video) .background {
  -webkit-transform-origin:center;
  transform-origin:center;
  -webkit-transform:translate3d(0,0,0) scale(1);
  transform:translate3d(0,0,0) scale(1);
}

.zoom .slide.selected.parallax:not(.video) .background {
  -webkit-transform-origin:center;
  transform-origin:center;
  -webkit-transform:translate3d(0,0,0) scale(1.1);
  transform:translate3d(0,0,0) scale(1.1);
}

.zoom .slide.before.parallax:not(.video) .background {
  -webkit-transform-origin:center;
  transform-origin:center;
  -webkit-transform:translate3d(0,0,0) scale(1);
  transform:translate3d(0,0,0) scale(1);
}

/* zoom */
.plain .slide.after.parallax:not(.video) .background {
  -webkit-transform-origin:center;
  transform-origin:center;
  -webkit-transform:translate3d(0,0,0) scale(1);
  transform:translate3d(0,0,0) scale(1);
}

.plain .slide.selected.parallax:not(.video) .background {
  -webkit-transform-origin:center;
  transform-origin:center;
  -webkit-transform:translate3d(0,0,0) scale(1);
  transform:translate3d(0,0,0) scale(1);
}

.plain .slide.before.parallax:not(.video) .background {
  -webkit-transform-origin:center;
  transform-origin:center;
  -webkit-transform:translate3d(0,0,0) scale(1);
  transform:translate3d(0,0,0) scale(1);
}


/* SCENIC */
.scenic:not(.video) .background {
  -webkit-animation: scenic 140s cubic-bezier(.2,0,.8,1) infinite;
    -moz-animation: scenic 140s cubic-bezier(.2,0,.8,1) infinite;
      -o-animation: scenic 140s cubic-bezier(.2,0,.8,1) infinite;
        animation: scenic 140s cubic-bezier(.2,0,.8,1) infinite;
}

@-webkit-keyframes scenic {
	50% { -webkit-transform:scale(1.5); }
}

@-moz-keyframes scenic {
	50% { -moz-transform:scale(1.5) rotate(-0.02deg); transform:scale(1.5) rotate(-0.02deg);}
}

@-o-keyframes scenic {
	50% { -o-transform:scale(1.5); transform:scale(1.5);}
}

@keyframes scenic {
	50% { -webkit-transform:scale(1.5); -moz-transform:scale(1.5); -o-transform:scale(1.5); transform:scale(1.5);}
}

/* End Effects */


/* menu */
*, *::after, *::before {
  box-sizing: border-box;
}

.menubrastemp a {
  color: #fff;
  text-decoration: none;
  text-decoration:none;
  font-size:13px!important;
}

.menubrastemp p {
	font-size:18px;
	font-family:"soletoregular";
	color:#d14f2a;
}

.menubrastemp input {
  font-family: "soletoregular";
  font-size: 15px !important;
}

@media only screen and (min-width: 600px) {
.menubrastemp input {
  font-family: "soletoregular";
  font-size: 15px !important;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-accordion-menu {
  margin: 10px;
}
.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
}
.cd-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
.cd-accordion-menu label, .cd-accordion-menu a {
  position: relative;
  display: block;
  
}
.no-touch .cd-accordion-menu label:hover, .no-touch .cd-accordion-menu a:hover {
}
.cd-accordion-menu label::before, .cd-accordion-menu label::after, .cd-accordion-menu a::after {
  /* icons */
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu label {
  cursor: pointer;
}
.cd-accordion-menu label::before, .cd-accordion-menu label::after {
  background-repeat: no-repeat;
}
.cd-accordion-menu label::before {
  /* arrow icon */
  background-position: 0 0;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-accordion-menu label::after {
  /* folder icons */
}
.cd-accordion-menu a::after {
  /* image icon */
}
.cd-accordion-menu input[type=checkbox]:checked + label::before {
  /* rotate arrow */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu input[type=checkbox]:checked + label::after {
  /* show open folder icon if item is checked */
}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}
.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
  padding-left: 10px;
}
.no-touch .cd-accordion-menu ul label:hover, .no-touch
.cd-accordion-menu ul a:hover {
}
.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
  box-shadow: none;
}
.cd-accordion-menu ul label::before {
  left: 10px;
}
.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a::after {
  left: 10px;
}
.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
}
.cd-accordion-menu ul ul label::before {
  left: 10px;
}
.cd-accordion-menu ul ul label::after,
.cd-accordion-menu ul ul a::after {
  left: 10px;
}
.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
  /*padding-left: 118px;*/
}
.cd-accordion-menu ul ul ul label::before {
  left: 10px;
}
.cd-accordion-menu ul ul ul label::after,
.cd-accordion-menu ul ul ul a::after {
  left: 10px;
}
@media only screen and (min-width: 600px) {
  .cd-accordion-menu label, .cd-accordion-menu a {
    /*padding: 24px 24px 24px 82px;*/
    font-size: 13px !important;
  }
  .cd-accordion-menu label::before {
    left: 10px;
  }
  .cd-accordion-menu label::after {
    left: 10px;
  }
  .cd-accordion-menu ul label,
  .cd-accordion-menu ul a {
    padding-left: 15px;
  }
  .cd-accordion-menu ul label::before {
    left: 10px;
  }
  .cd-accordion-menu ul label::after,
  .cd-accordion-menu ul a::after {
    left: 10px;
  }
  .cd-accordion-menu ul ul label,
  .cd-accordion-menu ul ul a {
    /*padding-left: 130px;*/
  }
  .cd-accordion-menu ul ul label::before {
    left: 10px;
  }
  .cd-accordion-menu ul ul label::after,
  .cd-accordion-menu ul ul a::after {
    left: 10px;
  }
  .cd-accordion-menu ul ul ul label,
  .cd-accordion-menu ul ul ul a {
    /*padding-left: 154px;*/
  }
  .cd-accordion-menu ul ul ul label::before {
    left: 10px;
  }
  .cd-accordion-menu ul ul ul label::after,
  .cd-accordion-menu ul ul ul a::after {
    left: 10px;
  }
}
.cd-accordion-menu.animated label::before {
  /* this class is used if you're using jquery to animate the accordion */
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
