<!-- Sidebar --> 
<nav class="sidebar black" data-sidebar-id="1" role="scrollbar">
  <div class="close"><svg><img src="assets/img/fechar.svg" /></svg></div>
  <div class="content">
    <div class="menubrastemp">
    
    <div id="menu_estrategia" style="display:none;">
      <p style="margin-bottom:10px;">Estratégia</p>
      <li class="cd-accordion-menu animated" style="margin:0 0 2px 10px;padding:0;"><a href="estrategia-manifesto.html">Manifesto</a></li>
      <li class="cd-accordion-menu animated" style="margin:0 0 2px 10px;padding:0;"><a href="estrategia-quadro.html">Quadro Resumo</a></li>
    </div>
    
    <div id="menu_linguagem" style="display:none;">
    <p style="margin-top:20px;">Linguagem</p>
            <ul class="cd-accordion-menu animated">
              <li class="has-children">
                <input type="checkbox" name ="group-1" id="group-1" checked>
                <label for="group-1"></label>
                 
                    <li class="has-children">
                      <input type="checkbox" name ="sub-group-1" id="sub-group-1">
                  
                  <label for="sub-group-1">Brastemp</label>
                  <ul>
                    <li><a href="liguagem-bras-conceito.html">Conceito</a></li>
                    <li><a href="liguagem-bras-comportamento.html">Comportamento</a></li>
                    <li><a href="liguagem-bras-expressao.html">Expressão</a></li>
                    <li><a href="liguagem-bras-verbal.html">Expressão Verbal</a></li>
                    <li><a href="liguagem-bras-visual.html">Expressão Visual</a></li>
                                <li><a href="liguagem-bras-visual-produto.html">Fotografia de Produto</a></li>
                                <li><a href="liguagem-bras-visual-tipo.html">Tipologia</a></li>
                                <li><a href="liguagem-bras-visual-cor.html">Cores</a></li>
                                <li><a href="liguagem-bras-visual-gradiente.html">Gradiente</a></li>
                                <li><a href="liguagem-bras-visual-ambiente.html">Ambiente</a></li>
                                <li><a href="liguagem-bras-visual-acessorios.html">Acessórios</a></li>
                                <li><a href="liguagem-bras-visual-prisma.html">Prisma</a></li>
                                <li><a href="liguagem-bras-visual-aplica.html">Aplicação</a></li>
                                <li><a href="liguagem-bras-visual-comparativo.html">Quadro Comparativo</a></li>
                      </ul>
                        </li>
                        
                        
                        
                        
                        <li class="has-children">
                          <input type="checkbox" name ="sub-group-2" id="sub-group-2">
                      <label for="sub-group-2">Linhas Especiais</label>
                                <ul>
                        <li><a href="liguagem-des-contexto.html">Contexto</a></li>
                        <li><a href="liguagem-gour-conceito.html">Gourmand</a></li>
                        <li><a href="liguagem-gour-expressao.html">- Expressão</a></li>
						<li><a href="liguagem-gour-verbal.html">- Expressão Verbal</a></li>
						 <li><a href="liguagem-gour-visual.html">- Expressão Visual</a></li>
                        <li><a href="liguagem-des-conceito.html">Linhas Design</a></li>
                        <li><a href="liguagem-des-expressao.html">- Expressão</a></li>
                        <li><a href="liguagem-des-aplicacoes.html">- Aplicações</a></li>
                        <li><a href="liguagem-des-comparativo.html">- Quadro Comparativo</a></li>
                              </ul>
                            </li>
      </li>
      </div>
            
      <div id="menu_aplicacao" style="display:none;">
        <p style="margin-top:20px;margin-bottom:10px;margin-left:-10px!important;">Aplicação</p>
        <li class="cd-accordion-menu animated" style="margin:0 0 1px 10px;padding:0;"><a href="aplica-brastemp.html#historia">História</a></li>
        <li class="cd-accordion-menu animated" style="margin:0 0 1px 10px;padding:0;"><a href="aplica-brastemp.html#logotipo">Logotipo Brastemp</a></li>
        <li class="cd-accordion-menu animated" style="margin:0 0 1px 10px;padding:0;"><a href="aplica-gourmand.html#logotipo">Logotipo Brastemp Gourmand</a></li>
      </div>

    </ul>
    
    </div>
    <ul class="social">
      <p><a href="#" style="font-size:9px;color:#d14f2a;margin-bottom:6px;">Brastemp.com.br</a></p>    
      <li style="margin-right:20px;"><a href="https://www.facebook.com/assimumabrastemp/"><img src="assets/img/facebook.svg" style="width:25px;height:25px;" /></a></li>
      <li style="margin-right:20px;"><a href="https://www.instagram.com/brastemp/"><img src="assets/img/camera.svg" style="width:25px;height:25px;" /></a></li>
      <li style="margin-right:20px;"><a href="https://www.youtube.com/user/Brastempbr"><img src="assets/img/youtube.svg" style="width:25px;height:25px;" /></a></li>
      <p><a href="#"  style="font-size:9px;color:#7f7f7f">Copyright Brastemp © 2015 - todos os direitos reservados</a></p>  
    </ul>
  </div>
</nav>
